<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<style>
.main-table {
	border: 2px solid #0d6efd;
}

.main-table th {
	background-color: #e3f2fd;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	border: 1px solid #ddd;
}

.main-table td {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
}

.detail-table {
	margin-top: 20px;
}

.detail-table th {
	background-color: #f8f9fa;
	text-align: center;
	font-size: 14px;
	padding: 8px;
}

.detail-table td {
	text-align: center;
	font-size: 14px;
	padding: 8px;
}

.search-container {
	margin-bottom: 20px;
}

.btn-group-custom {
	margin-bottom: 20px;
}

.tui-pagination {
	padding-bottom: 10px;
}

.start-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #facc15; /* 연한 노랑 */
	background-color: #fefce8; /* 연노랑 배경 */
	color: #92400e; /* 진한 주황갈색 */
}

.end-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #22c55e; /* 연초록 */
	background-color: #ecfdf5; /* 아주 연한 민트 */
	color: #065f46; /* 진한 초록 */
}

.del-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #f87171; /* 연한 빨강 */
	background-color: #fef2f2; /* 아주 연한 빨강 */
	color: #991b1b; /* 진한 빨강 */
}

.require {
	color: red;
}
</style>
</head>
<body class="bg-light">
	<div class="container-fluid mt-4">
		<h3 class="mb-4">홀드관리</h3>
		<!-- 검색 및 버튼 영역 -->
		<div class="row mb-3">
			<div class="col-md-6">
				<div class="input-group search-container" style="width: 400px;">
					<input type="text" class="form-control" placeholder="검색어를 입력하세요">
					<button class="btn btn-outline-secondary" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>

			<!-- custom button -->
			<div class="col-md-6 text-end">
				<div class="btn-group-custom" id="btnGroup">
					<button class="btn btn-secondary me-1" id="insertBtn">
						<i class="fas fa-pen"></i> 추가</button>
					<button class="btn btn-warning me-1" id="selectBtn">
						<i class="fas fa-eye"></i> 조회
					</button>
					<button class="btn btn-danger me-1" id="deleteBtn">
						<i class="fas fa-trash"></i> 삭제
					</button>
					<button class="btn btn-primary me-1" id="saveBtn">
						<i class="fas fa-save"></i> 저장
					</button>
				</div>
			</div>
		</div>
		<!-- 메인 그리드 -->
		<div id="mainGrid"></div>
	</div>
	<!-- 출하의뢰를 위한 모달 -->
	<div class="modal fade" id="shipRequestModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1>출하의뢰</h1>
				</div>
				<div class="modal-body">
					<div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
						<button class="btn btn-primary" id="shipRequestBtn" data-bs-dismiss="modal">
							<i class="fas fa-square-check"></i> 선택
						</button>
					</div>
					<div id="shipRequestGrid"></div>
				</div>
				<div class="modal-footer">
				 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 재고이동을 위한 모달 -->
	<div class="modal fade" id="transferModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1>재고이동</h1>
				</div>
				<div class="modal-body">
					<div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
						<button class="btn btn-primary" id="transferBtn" data-bs-dismiss="modal">
							<i class="fas fa-warehouse"></i> 선택
						</button>
					</div>
					<div id="transferGrid"></div>
				</div>
				<div class="modal-footer">
				 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- LOT선택을 위한 모달 -->
	<div class="modal fade" id="lotModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1>LOT선택</h1>
				</div>
				<div class="modal-body">
					<div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
						<button class="btn btn-primary" id="lotBtn" data-bs-dismiss="modal">
							<i class="fas fa-warehouse"></i> 선택
						</button>
					</div>
					<div id="lotGrid"></div>
				</div>
				<div class="modal-footer">
				 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
// const userID = [[${#authentication.principal != 'anonymousUser' ? #authentication.principal.userId : 'c1008'}]];
// const userName = [[${#authentication.principal != 'anonymousUser' ? #authentication.principal.empName : '김지현'}]];
// const userComId = [[${#authentication.principal != 'anonymousUser' ? #authentication.principal.comId : 'com-101'}]];
//필수값 가져오기
let holdGrid;
// 초기 조회
changeView('조회');

function getName(name){
	const header = document.createElement('span');
	header.innerHTML=`<span class="require">* </span>${name}`
	return header;
};
// 페이지 상태
$('#insertBtn').on('click', function() {
	changeView('등록');
});
$('#selectBtn').on('click', function() {
	changeView('조회');
});

// 페이지 전환 처리
function changeView(viewType){
	if(holdGrid) {
		// 그리드 초기화
		holdGrid.destroy();
		// dom 초기화
		$('#mainGrid').html('');
		$('#shipRequestGrid').html('');
	}
	// 그리드 변경
	if(viewType === '조회'){
		selectGrid();
		holdList();
	}else if(viewType === '등록'){
		insertGrid();
	}
}

// 코드
function holdList(){
	$.ajax({
		url:"/erp/inventory/holdList",
		method:"GET"
		,data: {comId}
	   ,success:function(result) {
		   holdGrid.resetData(result);
	   } // ajax호출 끝
	})
 };
 
// 조회 그리드
function selectGrid(){
	holdGrid = new tui.Grid({
	    el: document.getElementById('mainGrid'),
	    rowHeaders: ['checkbox'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 10,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: '홀드코드',name:'holdCode',align:'center'},
	        { header: '제품명',name:'itemName',align:'center'},
	        { header: '수량',name:'quantity',align:'center'},
	        { header: '구분',name:'typeName',align:'center',
	        	filter: 'select'
	        	},
	        { header: '상태',name:'statusName',align:'center',
	        	filter: 'select'
	        	},
	        { header: '등록일자',name:'createdDate',align:'center'},
	        { header: '비고',name:'note',align:'center'}
	        /* { header: '출고예정일',name:'shipExpDate',align:'center'}, */
	    ],
	});
	// 조회 이벤트
	// 추가버튼 생성 삭제버튼 홀드해제버튼으로 변경
	/* $('#deleteBtn').html('<i class="fas fa-trash"></i> 홀드해제');
	$('#btnGroup').prepend('<button class="btn btn-secondary me-2" id="insertBtn"><i class="fas fa-pen"></i> 추가</button>'); */
	$('#selectBtn').prop('disabled', true);
	$('#insertBtn').prop('disabled', false);
	$('#shipRequestModalBtn').remove();
	$('#transferModalBtn').remove();
	$('#saveBtn').off('click', saveBtninsert);
};// 조회버튼 끝


// 등록 그리드
function insertGrid(){
	holdGrid = new tui.Grid({
	    el: document.getElementById('mainGrid'),
	    rowHeaders: ['checkbox'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 10,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: '품목명',name:'itemName',align:'center'},
	        { header: 'LOT',name:'lot',align:'center', editor: 'text'
	        	/* , formatter:function(rowKey){
	        		if(rowKey.value == ''){
	        			return `<span class="badge text-bg-secondary">선택하세요</span>`;
	        		}else{
	        			return value;
	        		}
	        	} */
	        },
	        { header: '필요수량',name:'quantity',align:'center'},
	        { header: '분류',name:'typeName',align:'center'},
	        { header: '의뢰등록일',name:'createdDate',align:'center'},
	        { header: '출고예정일',name:'date',align:'center'},
	        { header: '출고위치',name:'location',align:'center'},
	        { header: '비고',name:'note',align:'center', editor:'text'},
	    ],
	});
	// 등록화면 이벤트
	
	// 모달안에서 그리드 처리
	$('#shipRequestModal').on('shown.bs.modal',function(){
		shipRequest.refreshLayout();
	})
	$('#transferModal').on('shown.bs.modal',function(){
		transfer.refreshLayout();
	})
	$('#lotModal').on('shown.bs.modal',function(){
		stklot.refreshLayout();
	})
		/* $('#btnGroup').remove('#insertBtn');
		$('#deleteBtn').html('<i class="fas fa-trash"></i> 삭제');
		$('#insertBtn').remove(); */
		$('#selectBtn').prop('disabled', false);
		$('#insertBtn').prop('disabled', true);
		// 출하의뢰 버튼 생성
		$('#btnGroup').prepend('<button class="btn btn-info me-1" id="shipRequestModalBtn" data-bs-toggle="modal" data-bs-target="#shipRequestModal">출하의뢰</button> <button class="btn btn-info me-1" id="transferModalBtn" data-bs-toggle="modal" data-bs-target="#transferModal">재고이동</button>');
		// 이벤트 차단
		$('#saveBtn').off('click');	
		
	// 모달 그리드 그리기
	
	// 출하의뢰
	shipRequest = new tui.Grid({
	    el: document.getElementById('shipRequestGrid'),
	    rowHeaders: ['checkbox'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 5,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: '출하상세코드',name:'shipReqDtlCode',align:'center'},
	        { header: '제품명',name:'itemName',align:'center'},
	        { header: '수량',name:'quantity',align:'center'},
	        { header: '상태',name:'statusName',align:'center',
	        	filter: 'select'
	        	},
	        { header: '거래처',name:'vdrName',align:'center'},
	        { header: '담당자',name:'empName',align:'center'},
	        { header: '등록일',name:'createdDate',align:'center'},
	        { header: '출고예정일',name:'shipExpDate',align:'center'},
	    ],
	});
	$.ajax({
		url:"/erp/inventory/holdshipRequestList",
		method:"GET"
		,data: {comId}
	   ,success:function(result) {
		   shipRequest.resetData(result);
	   } 
	}) // ajax호출 끝
	
	// LOT
	stklot = new tui.Grid({
	    el: document.getElementById('lotGrid'),
	    rowHeaders: ['checkbox'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 5,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: 'lot',name:'lot',align:'center'},
	        { header: '제품명',name:'itemName',align:'center'},
	        { header: '수량',name:'quantity',align:'center'},
	        { header: '위치',name:'locCode',align:'center'}
	    ],
	});
	/* function lotbutton(){
		let itemCode='';
		$('#lotModalBtn').on('click',()=>{
			console.log('눌러짐');	
		})
		return `<button class="btn btn-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"  id="lotModalBtn" data-bs-toggle="modal" data-bs-target="#lotModal">선택</button>`;
	} */
	holdGrid.on('click', (ev)=>{
		  let itemCode='';
		  let { rowKey, columnName } = ev;
		  if (columnName === 'lot') {
		    let rowData = holdGrid.getRow(rowKey);
			itemCode = rowData.itemCode;
			$.ajax({
				url:"/erp/inventory/holdlotList",
				method:"GET"
				,data: {comId, itemCode}
			   ,success:function(result) {
				   stklot.resetData(result);
		    		console.log(result);
		    		$('#lotModal').modal('show');
			   } 
			}) // ajax호출 끝
		  }
		})
			
	
	// 출하의뢰 선택이벤트
	$('#shipRequestBtn').on('click',()=>{
		let check = shipRequest.getCheckedRows();
		let checkData;
		let shipData = [];
		check.filter((item, idx)=>{
			checkData={
						  itemCode: item.itemCode
						, itemName: item.itemName
						, quantity: item.quantity
						, empId: item.empId
						, empName: item.empName
						, createdDate: item.createdDate
						, date: item.shipExpDate
						, vdrCode: item.vdrCode
						, location: item.vdrName
						, status: item.status
						, type: 'ht02'
						, typeName: '출하의뢰'
						, 
			}
			shipData.push(checkData);
		})
		holdGrid.resetData(shipData);
	})
	
	
	
	// 재고이동
/* 	transfer = new tui.Grid({
	    el: document.getElementById('transferGrid'),
	    rowHeaders: ['check'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 5,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: '품목명',name:'holdCode',align:'center'},
	        { header: '수량',name:'quantity',align:'center'},
	        { header: '타입',name:'type',align:'center'},
	        { header: '비고',name:'note',align:'center', editor:'text'},
	    ],
	}) */
	
	
	// 저장 버튼
	$('#saveBtn').on('click', saveBtninsert);
	
} // 등록버튼 끝

// 모달안에 출고 그리드
/* const outBoundGrid = new tui.Grid({
    el: document.getElementById('gridModal'),
    //checkbox부여
    //페이지네이션
    pageOptions: {
        perPage: 10,
        useClient: true,
    },
    //필드값 구성
    columns:[
        { header: '출하상세코드',name:'shipReqDtlCode',align:'center'},
        { header: '품목명',name:'itemName',align:'center'},
        { header: '출하의뢰수량',name:'quantity',align:'center'},
        { header: '출고수량',name:'qty',align:'center', editor: 'text'},
        { header: '비고',name:'note',align:'center', editor: 'text'},
        { header: '추가/삭제', name: 'origin', align:'center'
    	, formatter: (rowKey) => {
    		if(rowKey.value){
    			return `<button class="btn btn-sm btn-primary add-btn">+</button>`;
    		}else{
    		return `<button class="btn btn-sm btn-danger add-btn">-</button>`;
    		}
    	}}
    ],
    columnOptions: {
		frozenCount: 3,
		frozenBorderWidth: 2
		}
}); */



 /* 	let data = [];
	// 체크한경우 데이터 넣기
	shipRequestgrid.on('check', checkRow)
	shipRequestgrid.on('checkAll', checkRow)
	// 체크아웃한경우 데이터 뺴기
	shipRequestgrid.on('uncheck', checkRow);
	shipRequestgrid.on('uncheckAll', checkRow);
	
	// check 처리
	function checkRow(grid){
		data= [];
		  let rowCheck = grid.getCheckedRows();
		  
		  rowCheck.filter(item =>{
			  ee = {
				  shipReqDtlCode: item.shipReqDtlCode,
				  itemCode: item.itemCode,
				  itemName: item.itemName,
				  quantity : item.quantity,
				  price: item.price,
				  qty : '',
				  note: '',
				  origin: true
			  }
			  data.push(ee);
		  })
		  holdGrid.resetData(data);
	} */
	// 등록
function saveBtninsert(){
		let param = [];
		holdGrid.getData().forEach((item,idx)=>{
			let saveData={
							  itemCode: item.itemCode
							, quantity: item.quantity
							, type: item.type
							, status: item.status
							, note : item.note
			}
			param.push(saveData)
		})
			console.log(param);
		// 등록
		/* $.ajax({
			url:"/erp/inventory/insertHoldList",
			method:"POST",
			data:{comId},
			success:function(result){
				console.log(result);
			} 
		})*/
	}
</script>
</body>
</html>