<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<style>
.main-table {
	border: 2px solid #0d6efd;
}

.main-table th {
	background-color: #e3f2fd;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	border: 1px solid #ddd;
}

.main-table td {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
}

.detail-table {
	margin-top: 20px;
}

.detail-table th {
	background-color: #f8f9fa;
	text-align: center;
	font-size: 14px;
	padding: 8px;
}

.detail-table td {
	text-align: center;
	font-size: 14px;
	padding: 8px;
}

.search-container {
	margin-bottom: 20px;
}

.btn-group-custom {
	margin-bottom: 20px;
}

.tui-pagination {
	padding-bottom: 10px;
}

.start-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #facc15; /* 연한 노랑 */
	background-color: #fefce8; /* 연노랑 배경 */
	color: #92400e; /* 진한 주황갈색 */
}

.end-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #22c55e; /* 연초록 */
	background-color: #ecfdf5; /* 아주 연한 민트 */
	color: #065f46; /* 진한 초록 */
}

.del-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #f87171; /* 연한 빨강 */
	background-color: #fef2f2; /* 아주 연한 빨강 */
	color: #991b1b; /* 진한 빨강 */
}

.require {
	color: red;
}
</style>
</head>
<body class="bg-light">
	<div class="container-fluid mt-4">
		<h3 class="mb-4">홀드관리</h3>
		<!-- 검색 및 버튼 영역 -->
		<div class="row mb-3">
			<div class="col-md-6">
				<div class="input-group search-container" style="width: 400px;">
					<input type="text" class="form-control" placeholder="검색어를 입력하세요">
					<button class="btn btn-outline-secondary" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>

			<!-- custom button -->
			<div class="col-md-6 text-end">
				<div class="btn-group-custom" id="btnGroup">
					<button class="btn btn-secondary me-1" id="insertBtn">
						<i class="fas fa-pen"></i> 추가</button>
					<button class="btn btn-warning me-1" id="selectBtn">
						<i class="fas fa-eye"></i> 조회
					</button>
					<button class="btn btn-danger me-1" id="deleteBtn">
						<i class="fas fa-trash"></i> 삭제
					</button>
					<button class="btn btn-primary me-1" id="saveBtn">
						<i class="fas fa-save"></i> 저장
					</button>
				</div>
			</div>
		</div>
		<!-- 메인 그리드 -->
		<div id="mainGrid"></div>
	</div>
	<div class="container-fluid mt-4">
		<div id="subGrid"></div>
	</div>
	<!-- 출하의뢰를 위한 모달 -->
	<div class="modal fade" id="shipRequestModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1>출하의뢰</h1>
				</div>
				<div class="modal-body">
					<div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
						<button class="btn btn-primary" id="shipRequestBtn" data-bs-dismiss="modal">
							<i class="fas fa-square-check"></i> 선택
						</button>
					</div>
					<div id="shipRequestGrid"></div>
				</div>
				<div class="modal-footer">
				 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 재고이동을 위한 모달 -->
	<div class="modal fade" id="transferModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1>재고이동</h1>
				</div>
				<div class="modal-body">
					<div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
						<button class="btn btn-primary" id="transferBtn" data-bs-dismiss="modal">
							<i class="fas fa-square-check"></i> 선택
						</button>
					</div>
					<div id="transferGrid"></div>
				</div>
				<div class="modal-footer">
				 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- LOT선택을 위한 모달 -->
	<div class="modal fade" id="lotModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1>LOT선택</h1>
				</div>
				<div class="modal-body">
					<div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
						<button class="btn btn-primary" id="lotBtn">
							<i class="fas fa-square-check"></i> 선택
						</button>
					</div>
					<div id="lotGrid"></div>
				</div>
				<div class="modal-footer">
				 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
<script th:inline="javascript">
//필수값 가져오기
let holdGrid;
// 초기 조회
changeView('조회');

function getName(name){
	const header = document.createElement('span');
	header.innerHTML=`<span class="require">* </span>${name}`
	return header;
};
// 페이지 상태
$('#insertBtn').on('click', function() {
	changeView('등록');
});
$('#selectBtn').on('click', function() {
	changeView('조회');
});

// 페이지 전환 처리
function changeView(viewType){
	if(holdGrid) {
		// 그리드 초기화
		holdGrid.destroy();
		// dom 초기화
		$('#mainGrid').html('');
		$('#shipRequestGrid').html('');
		$('#lotGrid').html('');
		$('#subGrid').html('');
	}
	// 그리드 변경
	if(viewType === '조회'){
		selectGrid();
		holdList();
	}else if(viewType === '등록'){
		insertGrid();
	}
}

// 코드
function holdList(){
	$.ajax({
		url:"/erp/inventory/holdList",
		method:"GET"
		,data: {comId}
	   ,success:function(result) {
		   holdGrid.resetData(result);
	   } // ajax호출 끝
	})
 };
 
// 조회 그리드
function selectGrid(){
	holdGrid = new tui.Grid({
	    el: document.getElementById('mainGrid'),
	    rowHeaders: ['checkbox'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 5,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: '홀드코드',name:'holdCode',align:'center'},
	        { header: '제품명',name:'itemName',align:'center'},
	        { header: '수량',name:'quantity',align:'center'},
	        { header: '구분',name:'typeName',align:'center',
	        	filter: 'select'
	        	},
	        { header: '상태',name:'statusName',align:'center',
	        	filter: 'select'
	        	},
	        { header: '등록일자',name:'createdDate',align:'center'},
	        { header: '비고',name:'note',align:'center'}
	        /* { header: '출고예정일',name:'shipExpDate',align:'center'}, */
	    ],
	});
	
	// 조회 이벤트
	// 추가버튼 생성 삭제버튼 홀드해제버튼으로 변경
	/* $('#deleteBtn').html('<i class="fas fa-trash"></i> 홀드해제');
	$('#btnGroup').prepend('<button class="btn btn-secondary me-2" id="insertBtn"><i class="fas fa-pen"></i> 추가</button>'); */
	$('#selectBtn').prop('disabled', true);
	$('#insertBtn').prop('disabled', false);
	
	// 이벤트 삭제
	$('#deleteBtn').off('click');
	$('#saveBtn').off('click');	
	$('#shipRequestModalBtn').remove();
	$('#transferModalBtn').remove();
	
	// LOT선택된 후 그리드
	subLot = new tui.Grid({
	    el: document.getElementById('subGrid'),
	    rowHeaders: ['rowNum'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 5,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: '홀드상세코드',name:'holdDtlCode',align:'center'},
	        { header: 'lot',name:'lot',align:'center'},
	        { header: '예약재고',name:'quantity',align:'center'}
	    ],
	});
	
	holdGrid.on('click', (ev)=>{
		if (!ev.targetType || ev.targetType !== 'cell') {
		    // 셀이 아닌 곳 클릭 시 이벤트 무시 (체크 상태 변경 안함)
		    return;
		  }
		let { rowKey, columnName } = ev;
		let click = holdGrid.getRow(rowKey);
		let param = {holdCode: click.holdCode,comId}
		$.ajax({
			url:"/erp/inventory/holdDetailList",
			method:"GET"
			,data: {param}
		   ,success:function(result) {
			   subLot.resetData(result);
		   } 
		}) // ajax호출 끝
	});
	
};// 조회버튼 끝


// 등록 그리드
function insertGrid(){
	holdGrid = new tui.Grid({
	    el: document.getElementById('mainGrid'),
	    rowHeaders: ['checkbox'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 10,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: '구분코드',name:'code',align:'center'},
	        { header: '품목명',name:'itemName',align:'center'},
	        { header: 'LOT',name:'lot',align:'center'
	        	 , formatter:function(row){
	        			return '<span class="badge text-bg-danger fs-6">선택</span>'
	        	}
	        },
	        { header: '필요수량',name:'quantity',align:'center'},
	        { header: '분류',name:'typeName',align:'center'},
	        { header: '상태',name:'statusName',align:'center'},
	        { header: '의뢰등록일',name:'createdDate',align:'center'},
	        { header: '출고예정일',name:'date',align:'center'},
	        { header: '출고위치',name:'location',align:'center'},
	        { header: '비고',name:'note',align:'center', editor:'text'},
	    ],
	});
	// 등록화면 이벤트
	
	// 모달안에서 그리드 처리
	$('#shipRequestModal').on('shown.bs.modal',function(){
		shipRequest.refreshLayout();
	})
	$('#transferModal').on('shown.bs.modal',function(){
		transfer.refreshLayout();
	})
	$('#lotModal').on('shown.bs.modal',function(){
		stklot.refreshLayout();
	})
		// 버튼 비활성화
		$('#selectBtn').prop('disabled', false);
		$('#insertBtn').prop('disabled', true);
		// 출하의뢰 버튼 생성
		$('#btnGroup').prepend('<button class="btn btn-info me-1" id="shipRequestModalBtn" data-bs-toggle="modal" data-bs-target="#shipRequestModal">출하의뢰</button> <button class="btn btn-info me-1" id="transferModalBtn" data-bs-toggle="modal" data-bs-target="#transferModal">재고이동</button>');
		// 이벤트 차단
		$('#saveBtn').off('click');	
		
	// 모달 그리드 그리기
	
	// 출하의뢰
	shipRequest = new tui.Grid({
	    el: document.getElementById('shipRequestGrid'),
	    rowHeaders: ['checkbox'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 5,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: '출하상세코드',name:'shipReqDtlCode',align:'center'},
	        { header: '제품명',name:'itemName',align:'center'},
	        { header: '수량',name:'quantity',align:'center'},
	        { header: '상태',name:'statusName',align:'center',
	        	filter: 'select'
	        	},
	        { header: '거래처',name:'vdrName',align:'center'},
	        { header: '담당자',name:'empName',align:'center'},
	        { header: '등록일',name:'createdDate',align:'center'},
	        { header: '출고예정일',name:'shipExpDate',align:'center'},
	    ],
	});
	$.ajax({
		url:"/erp/inventory/holdshipRequestList",
		method:"GET"
		,data: {comId}
	   ,success:function(result) {
		   shipRequest.resetData(result);
	   } 
	}) // ajax호출 끝
	
	// 출하의뢰 선택이벤트
	$('#shipRequestBtn').on('click',()=>{
		let check = shipRequest.getCheckedRows();
		let checkData;
		let shipData = [];
		check.filter((item, idx)=>{
			checkData={
						  code: item.shipReqDtlCode
						, itemCode: item.itemCode
						, itemName: item.itemName
						, quantity: item.quantity
						, empId: item.empId
						, empName: item.empName
						, createdDate: item.createdDate
						, date: item.shipExpDate
						, vdrCode: item.vdrCode
						, location: item.vdrName
						, status: 'hs03'
						, statusName: '출고보류'
						, type: 'ht02'
						, typeName: '출하의뢰'
			}
			shipData.push(checkData);
		})
		holdGrid.resetData(shipData);
	});
	
	// LOT선택 모달 그리드
	stklot = new tui.Grid({
	    el: document.getElementById('lotGrid'),
	    rowHeaders: ['checkbox'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 5,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: 'lot',name:'lot',align:'center'},
	        { header: '제품명',name:'itemName',align:'center'},
	        { header: '현재고',name:'quantity',align:'center'},
	        { header: '예약재고',name:'holdQty',align:'center'},
	        { header: '가용재고',name:'currQty',align:'center'},
	        { header: '수량',name:'qty',align:'center', editor: 'text'},
	        { header: '위치',name:'locCode',align:'center'}
	    ],
	});
	
	// LOT선택된 후 그리드
	subLot = new tui.Grid({
	    el: document.getElementById('subGrid'),
	    rowHeaders: ['rowNum'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 5,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: 'lot',name:'lot',align:'center'},
	        { header: '위치',name:'locCode',align:'center'},
	        { header: '제품명',name:'itemName',align:'center'},
	        { header: 'lot재고',name:'quantity',align:'center'},
	        { header: '예약재고',name:'holdQty',align:'center'},
	        { header: '가용재고',name:'currQty',align:'center'},
	        { header: '입력재고',name:'qty',align:'center'},
	    ],
	});
	
	//전역으로 함수등록
	const lotList = new Map();
	let subsgrid = [];
	let rowKey;
	let columnName;
	
	// 그리드의 lot항목을 클릭하면 모달이 띄우는 이벤트 
	holdGrid.on('dblclick', (ev)=>{
		if (!ev.targetType || ev.targetType !== 'cell') {
		    // 셀이 아닌 곳 클릭 시 이벤트 무시 (체크 상태 변경 안함)
		    return;
		  }
		  let itemCode='';
		  rowKey = ev.rowKey;
		  columnName = ev.columnName;
		  if (columnName === 'lot') {
		    let rowData = holdGrid.getRow(rowKey);
			itemCode = rowData.itemCode;
			
			$.ajax({
				url:"/erp/inventory/holdlotList",
				method:"GET"
				,data: {comId, itemCode}
			   ,success:function(result) {
				   result.forEach((item)=>{
					  let val = Number(item.quantity || 0);
					  let val2 = Number(item.holdQty || 0);
				   	item.currQty = val - val2;
				   })
					stklot.resetData(result);
			    	$('#lotModal').modal('show');
			   } 
			}) // ajax호출 끝
		  }
		});
	
	
	// 홀드그리드 클릭이벤트
	holdGrid.on('click', (ev)=>{
		if (!ev.targetType || ev.targetType !== 'cell') {
		    // 셀이 아닌 곳 클릭 시 이벤트 무시 (체크 상태 변경 안함)
		    return;
		  }
		let { rowKey, columnName } = ev;
		let rowData = holdGrid.getRow(rowKey);
		let rowGrid = lotList.get(rowData.code);
		if(rowGrid == undefined){
			// 배열 초기화 
			subLot.resetData([]);
		}else{
			subLot.resetData(rowGrid);
		}
	});
	
	// lot 선택이벤트
	$('#lotBtn').on('click',()=>{
		// 변수선언
		let sum = 0;
		let check = stklot.getCheckedRows();
		let checkData;
		let lotData = [];
		let holdList = holdGrid.getData();
		let rowData = holdGrid.getRow(rowKey);
		code = rowData.code;
		// 재고전부 입력, 재고전체 입력
		let origin = false;
		// 입력한값의 전체를 합산
		check.forEach((item)=>{
			sum += Number(item.qty)
		})
		// check된 행 검사.
		for(let item of check){
			item.qty = Number(item.qty);
			item.quantity = Number(item.quantity);
			item.currQty = Number(item.currQty);
			if(item.qty == ""){
				Swal.fire({
					  icon: "error",
					  title: "빈행 발견!",
					  text: "수량을 입력해주세요!"
					});
				return;
			}else if(item.quantity < item.qty){
				Swal.fire({
					  icon: "error",
					  title: "현재고 수량보다 많음!",
					  text: "재고수량을 확인해주세요!"
					});
				return;
			}
			if(item.currQty < item.qty){
				Swal.fire({
					  icon: "error",
					  title: "가용재고 수량보다 많음!",
					  text: "재고수량을 확인해주세요!"
					});
				return;
			}
		}
		
		// 발주서 수량과 비교
		if(sum > rowData.quantity){
			Swal.fire({
				  icon: "error",
				  title: "홀드수량이 많음!",
				  text: "수량을 확인해주세요!"
				});
			return;
		// sum = 각lot의 수량
		}else if(sum < rowData.quantity){
			holdGrid.setValue(rowKey, 'status', 'hs1')
			holdGrid.setValue(rowKey, 'statusName', '홀드중')
		}else{
			holdGrid.setValue(rowKey, 'status', 'hs02')
			holdGrid.setValue(rowKey, 'statusName', '홀드완료')
		}
		// 파라메타 담기
		checkData = check.map((item)=> ({
					lot: item.lot,
					itemCode: item.itemCode,
					itemName: item.itemName,
					quantity: item.quantity, // lot 재고
					price: item.price,		
					qty: item.qty,			// 입력한 수량
					holdQty: item.holdQty,  // 예약재고
					currQty: item.currQty,  // 가용재고
					locCode: item.locCode
		}));
		
		// lotList에 map타입으로 키를 코드값으로 value값은 객체를 넣음 
		lotList.set(rowData.code, checkData);
		// subLot그리드에 키값으로 lot값을 호출해서 그림.
		subLot.resetData(lotList.get(rowData.code))
		$('#lotModal').modal('hide');
	})
	
	// 행삭제 이벤트
	$('#deleteBtn').on('click',()=>{
		let check = holdGrid.getCheckedRows();
		check.forEach((item)=>{
		holdGrid.removeRow(item.rowKey);
		lotList.delete(item.code);
		})
		subLot.resetData([]); 
	});
	
	// 재고이동
/* 	transfer = new tui.Grid({
	    el: document.getElementById('transferGrid'),
	    rowHeaders: ['check'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 5,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: '품목명',name:'holdCode',align:'center'},
	        { header: '수량',name:'quantity',align:'center'},
	        { header: '타입',name:'type',align:'center'},
	        { header: '비고',name:'note',align:'center', editor:'text'},
	    ],
	}) */
	
	
	// 저장 버튼 등록
	$('#saveBtn').on('click',()=>{
		let ch = holdGrid.getData();
		if(ch.length > 0){
			let param = [];
			let lotparam = [];
			for(let item of holdGrid.getData()){
				// 벨리데이션 체크용
				lotparam = lotList.get(item.code);
				if(lotparam == undefined){
					Swal.fire({
						  icon: "error",
						  title: "lot가 지정되지않음!",
						  text: "등록하지않을 홀드는 제거해주세요"
						});
					return;
				}
				console.log(lotparam);
				// 수량 반영하기
				/* for(let qtys of lotparam){
					qtys
				} */
				
				// 홀드의 수량은 발주서 수량이 들어가는중...
				// lot로 입력한 갯수가 아님
				let saveData={
								  itemCode: item.itemCode		// 품목코드
								, quantity: item.quantity		// 발주서수량
								, type: item.type				// 재고이동, 출하의뢰 , 다른이유
								, status: item.status			// 재고부족, 홀드중, 처리완료
								, note : item.note				// 비고
								, code : item.code				// 참조 테이블 코드
								, comId : comId
								, lotList : lotList.get(item.code)
				}
				param.push(saveData)
			}
			// 등록 홀드
		 $.ajax({
				url:"/erp/inventory/inserthold",
				method:"POST",
				contentType: "application/json",
				data: JSON.stringify(param),
				success:()=>{
					Swal.fire({
						  icon: "success",
						  title: "홀드 완료!",
						  text: "홀드가 완료되었습니다."
						});
					changeView('조회');
				}
			})
		}else{
			Swal.fire({
				  icon: "error",
				  title: "저장하려는 데이터가 없습니다",
				  text: "출하의뢰, 재고이동버튼으로 선택해주세요"
				});
		}
		});// 등록함수 끝
	
} // 등록버튼 끝
</script>
</body>
</html>