<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/default_layout}" 
  layout:fragment="Content">
<div class="container text-center">
		<div class="d-grid gap-2 d-md-block m-2 text-start">
		  <h1>입고관리</h1>
		  <button class="btn btn-secondary" type="button">주문입고</button>
		  <button class="btn btn-secondary" type="button">생산입고</button>
		  <button class="btn btn-secondary" type="button">발주의뢰</button>
		</div>
	
	<div class="row card">
		<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3 p-4"> 
		  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inboundModal" id="inModal" type="button">입고처리</button>
		</div>
	  	<div class="col-12">
		   <div id="Grids"></div>
	   	</div>
   	</div>
</div>

<!-- 입고를 위한 모달 -->
<div class="modal fade" id="inboundModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">주문 입고</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row card">
        	<div class="form-floating mb-3">
			  <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
			  <label for="floatingInput">일자</label>
			</div>
        </div>
        <div class="container-fluid">
        <div id="modal">
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>
<script th:inline="javascript">
const inboundGrid = new tui.Grid({
	el: document.getElementById('modal'),
	rowHeaders: ['rowNum'],
    columns:[
    	{header: '발주상세코드', name: 'purOrdDtlCode', align:'center'},
    	{header: '품목명', name: 'itemCode', align:'center'},
    	{header: '수량', name: 'quantity', align:'center', editer: 'number'},
    	{header: '구분', name: 'status', align:'center', editer: 'text'},
    	{header: '비고', name: 'note', align:'center', editer: 'text'}
    	]
})

const purcharsegrid = new tui.Grid({
	//toastui 아이디 가져오기
    el: document.getElementById('Grids'),
    //checkbox부여
    rowHeaders: ['checkbox'],
    //스크롤여부
    scrollX: false,
    scrollY: false,
    //페이지네이션
    pageOptions: {
        perPage: 5,
        useClient: true,
    },
    //필드값 구성
    columns:[
        // header: 필드 이름  name:객체 key값  align:정렬방법
        // editor:true -> cell안에 등록가능
        // width -> 크기조정
        { header: '발주서코드',name:'purOrdCode', align:'center'},
        { header: '발주상세코드',name:'purOrdDtlCode',align:'center'},
        { header: '제품명',name:'itemCode',align:'center'},
        { header: '수량',name:'quantity',align:'center'},
        { header: '상태',name:'status',align:'center',
        	formatter: function(status){
        		if(status.value == 'pds-01'){
        			return status.value = '입고대기'
        		}else if(status.value == 'pds-02'){
        			return status.value = '부분입고'
        		}else{
        			return status.value = '입고완료'
        		}
        	},
        	filter: 'select'
        	},
        { header: '입고예정일자',name:'expDlvDate',align:'center'},
        { header: '입고일자',name:'reccvDate',align:'center',
    		formatter: function(expDlvDate){
    			if(expDlvDate.value == null){
    				return expDlvDate.value = '입고대기';
    			}else{
    				return expDlvDate.value;
    			}
    		}},
        { header: '담당자',name:'empId',align:'center'},
        { header: '거래처',name:'vdrCode',align:'center'},
    ],
});
purchaseList();
//ajax -> toastUi에 넣기
function purchaseList(){
	$.ajax({
		url:"/erp/inventory/purchaseList",
		method:"GET"
	   ,success:function(result) {
		   //grid값 다시 rendering
		   console.log(result)
		   purcharsegrid.resetData(result)
	   }
	})
}
let data = {};
purcharsegrid.on('check', () => {
  data = purcharsegrid.getCheckedRows();
  console.log(data);
  /* inboundGrid.appendRow(data); */
  inboundGrid.resetData(data);
  inboundGrid.refreshLayout();
})

 // 모달안에서 그리드부를떄 참고.
$('#inboundModal').on('shown.bs.modal',function(e){
	inboundGrid.refreshLayout();
})

//모든 수정된행 보기
/* function check(){
	//움직임감지
	const changes = sampleGrid.getModifiedRows();
	//생성된행
	console.log(changes.createdRows);
	//수정된행
	console.log(changes.updatedRows);
	//삭제된행
	console.log(changes.deletedRows);
} */
// 발주서 입고 처리
/* function purchaseRegister(){
	$.ajax({
		url:"",
		method:"POST",
		success: alert('등록성공')
	})
} */
</script>
</html>