<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<div class="container text-center">
	<div class="d-grid gap-2 d-md-block m-2 text-start">
		<h1>입고관리</h1>
		<button class="btn btn-secondary" id="purchasePage" type="button">주문입고</button>
		<button class="btn btn-secondary" id="inboundPage" type="button">생산입고</button>
		<button class="btn btn-secondary" id="purchasePage" type="button">발주의뢰</button>
	</div>

	<div class="row card">
		<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3 p-4">
			<button class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#inboundModal" id="inModal" type="button">입고처리</button>
		</div>
		<div class="col-12">
			<div id="Grids"></div>
		</div>
	</div>
</div>

<!-- 입고를 위한 모달 -->
<div class="modal fade" id="inboundModal" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">주문 입고</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="">
					<div class="form-floating mb-3">
						<input type="date" class="form-control" id="dateInput"
							placeholder="name@example.com"> <label
							for="floatingInput">일자</label>
					</div>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
						<button type="button" id="resetBtn" class="btn btn-danger">초기화</button>
						<button type="button" id="registerBtn" class="btn btn-primary">입고</button>
					</div>
					<div id="gridModal"></div>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
</body>
<script th:inline="javascript">
//ajax -> toastUi에 넣기
function purchaseList(){
	$.ajax({
		url:"/erp/inventory/purchaseList",
		method:"GET"
	   ,success:function(result) {
		   purcharsegrid.resetData(result);
	   } // ajax호출 끝
	})
 };
 purchaseList();
let warehouse = [];
// 창고리스트
function warehouseList(){
	  $.ajax({
		url:"/erp/inventory/warehouseList",
		async: false,
		method:"GET"
	   ,success:function(result) {
		 warehouse = result.map(item => ({
			   text:item.name,
			   value:item.locCode
		   }));
	   } // ajax호출 끝
	})
 };
 
warehouseList();
//메인그리드 그리기
const purcharsegrid = new tui.Grid({
	//toastui 아이디 가져오기
    el: document.getElementById('Grids'),
    //checkbox부여
    rowHeaders: ['checkbox'],
    //페이지네이션
    pageOptions: {
        perPage: 5,
        useClient: true,
    },
    //필드값 구성
    columns:[
        // header: 필드 이름  name:객체 key값  align:정렬방법
        // editor:true -> cell안에 등록가능
        // width -> 크기조정
        { header: '발주서코드',name:'purOrdCode', align:'center'},
        { header: '발주상세코드',name:'purOrdDtlCode',align:'center'},
        { header: '제품명',name:'itemCode',align:'center'},
        { header: '수량',name:'quantity',align:'center'},
        { header: '상태',name:'status',align:'center',
        	formatter: function(status){
        		if(status.value == 'pds-01'){
        			return status.value = '입고대기'
        		}else if(status.value == 'pds-02'){
        			return status.value = '부분입고'
        		}else{
        			return status.value = '입고완료'
        		}
        	},
        	filter: 'select'
        	},
        { header: '입고예정일자',name:'expDlvDate',align:'center'},
        { header: '입고일자',name:'reccvDate',align:'center'
    		/* ,formatter: function(expDlvDate){
    			if(expDlvDate.value == null){
    				return expDlvDate.value = '입고대기';
    			}else{
    				return expDlvDate.value;
    			}
    		} */
        },
        { header: '담당자',name:'empId',align:'center'},
        { header: '거래처',name:'vdrCode',align:'center'},
    ],
});

	let data = [];
	// 체크한경우 데이터 넣기
	purcharsegrid.on('check', checkRow)
	purcharsegrid.on('checkAll', checkRow)
	// 체크아웃한경우 데이터 뺴기
	purcharsegrid.on('uncheck', checkRow);
	purcharsegrid.on('uncheckAll', checkRow);
	
	// check 처리
	function checkRow(){
		data= [];
		  let rowCheck = purcharsegrid.getCheckedRows();
		  rowCheck.filter(item =>{
			  ee = {
				  purOrdDtlCode: item.purOrdDtlCode,
				  itemCode: item.itemCode,
				  quantity : item.quantity,
				  pquantity: item.pquantity,
			      notStock: item.notStock,
				  loc : '',
				  qty : '',
				  note: '',
				  origin: true
			  }
			  data.push(ee);
		  })
		  inboundGrid.resetData(data);
	}
	
	/* class CustomButton{
		constructor(props) {
			
			const el = document.createElement('button');
			
			console.log(props.row);
			
		    if (props.row.origin === true) {
		      el.className = 'btn btn-primary';
		      el.textContent = '+';
		    } else {
		      el.className = 'btn btn-danger';
		      el.textContent = '-';
		    }
			console.log(el);
			el.addEventListener('click',()=>{
			const rowKey = props.rowKey;
			const grid = props.grid;
				
			if(btnType) {
				grid.appendRow({
				      purOrdDtlCode: '',
				      itemCode: '',
				      quantity: '',
				      loc: '',
				      qty: '',
				      note: '',
				      origin: false
				});
			} else {
				grid.removeRow(rowKey);
			}
			});
			this.el = el;
		}
		getElement() {
			return this.el;
		}
	} */
	// inboundGrid 그리기
	const inboundGrid = new tui.Grid({
		el: document.getElementById('gridModal'),
		rowHeaders: ['rowNum'],
	    columns:[
			    	{ header: '발주상세코드', name: 'purOrdDtlCode', align:'center'},
			    	{ header: '품목명', name: 'itemCode', align:'center'},
			    	{ header: '발주량', name: 'quantity', align:'center'},
			    	{ header: '기입고량', name: 'pquantity', align:'center'},
			    	{ header: '미입고량', name: 'notStock', align:'center'},
			    	{ header: '위치', name: 'loc', align:'center', width: 200
			    		, formatter:'listItemText'
			    		,  editor: {
			    		    type: 'select',
			    		    options: {
			    		      listItems: warehouse
			    		    }
			    		  }},
			    	{ header: '입고수량', name: 'qty', align:'center', editor: 'text'},
			    	{ header: '비고', name: 'note', align:'center', editor: 'text'},
			    	{ header: '추가/삭제', name: 'origin', align:'center'
			    		/* , renderer: CustomButton} */
			    	, formatter: (rowKey) => {
			    		if(rowKey.value){
			    			return `<button class="btn btn-sm btn-primary add-btn">+</button>`;
			    		}else{
			    		return `<button class="btn btn-sm btn-danger add-btn">-</button>`;
			    		}
			    	}}
	    		],
	    		columnOptions: {
				frozenCount: 5,
				frozenBorderWidth: 2
	    		}
	});
	
	// 초기화
	$('#resetBtn').on('click', ()=>{
		inboundGrid.refreshLayout();
	})
	// 입고 등록
	$('#registerBtn').on('click', ()=>{
		let date = $('#dateInput').val();
		console.log(date);
		let param = [];
		param = {}
		
		/* $.ajax({
			url:"/erp/inventory/purchaseRegister",
			method:"POST",
			contentType: 'application/json',
			data: JSON.stringify(param),
			success: alert('등록성공')
			}
		) */
		})
	
	function idx(){
		let idxData = inboundGrid.getData();
		return idxData;
	}
	// 행추가 rowKey값이 고정이 아니라서 문제가 있음.
	inboundGrid.on('click', (ev)=>{
		
		const idxData = idx();
		console.log(idxData);
		
		/* const changes = inboundGrid.getModifiedRows(); */
		// rowKey = 키값, columnName = 셀의 이름
		let { rowKey, columnName } = ev;
		console.log(rowKey);
		console.log(columnName);
		let addData = {
				      purOrdDtlCode: '',
				      itemCode: '',
				      quantity: '',
				      pquantity: '',
				      notStock: '',
				      loc: '',
				      qty: '',
				      note: '',
				      origin: false
				    };
	/* 	//생성된행
		console.log(changes.createdRows);
		//수정된행
		console.log('수정된행' + changes.updatedRows);
		//삭제된행
		console.log('삭제된행' + changes.deletedRows);
		
		console.log(inboundGrid.getData()); */
		
		// 컬럼명과 값을 확인 후 추가 진행
		if(columnName === 'origin' &&
				inboundGrid.getValue(rowKey, columnName) === true){
		inboundGrid.appendRow(addData, {
			  at: rowKey + 1
			});
		}
	});
	//행삭제
inboundGrid.on('click', (ev)=>{
		let { rowKey, columnName } = ev;
		// 조건문 = 컬럼명, 값
		if(columnName === 'origin' && inboundGrid.getValue(rowKey, columnName) === false){
		 inboundGrid.removeRow(rowKey);
		}
	})

	 // 모달안에서 그리드부를떄 참고.
	$('#inboundModal').on('shown.bs.modal',function(){
		if (inboundGrid.getRowCount() === 0) {
			inboundGrid.resetData([
				{
					purOrdDtlCode: '',
					itemCode: '',
					quantity: '',
					pquantity: '',
				    notStock: '',
					loc: '',
					qty: '',
					note: '',
					origin: false
				}
			]);
		}
		inboundGrid.refreshLayout();
	})
</script>
</html>