<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<style>
.main-table {
	border: 2px solid #0d6efd;
}

.main-table th {
	background-color: #e3f2fd;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	border: 1px solid #ddd;
}

.main-table td {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
}

.detail-table {
	margin-top: 20px;
}

.detail-table th {
	background-color: #f8f9fa;
	text-align: center;
	font-size: 14px;
	padding: 8px;
}

.detail-table td {
	text-align: center;
	font-size: 14px;
	padding: 8px;
}

.search-container {
	margin-bottom: 20px;
}

.btn-group-custom {
	margin-bottom: 20px;
}

.tui-pagination {
	padding-bottom: 10px;
}

.start-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #facc15; /* 연한 노랑 */
	background-color: #fefce8; /* 연노랑 배경 */
	color: #92400e; /* 진한 주황갈색 */
}

.end-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #22c55e; /* 연초록 */
	background-color: #ecfdf5; /* 아주 연한 민트 */
	color: #065f46; /* 진한 초록 */
}

.del-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #f87171; /* 연한 빨강 */
	background-color: #fef2f2; /* 아주 연한 빨강 */
	color: #991b1b; /* 진한 빨강 */
}

.require {
	color: red;
}
</style>
</head>
<body class="bg-light">
	<div class="container-fluid mt-4">
		<h3 class="mb-4">출고관리</h3>
		<!-- 검색 및 버튼 영역 -->
		<div class="row mb-3">
			<div class="col-md-6">
				<div class="input-group search-container" style="width: 400px;">
					<input type="text" class="form-control" placeholder="검색어를 입력하세요">
					<button class="btn btn-outline-secondary" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>

			<!-- custom button -->
			<div class="col-md-6 text-end">
				<div class="btn-group-custom" id="btnGroup">
					<button class="btn btn-secondary me-1" id="insertBtn">
						<i class="fas fa-pen"></i> 추가</button>
					<button class="btn btn-warning me-1" id="selectBtn">
						<i class="fas fa-eye"></i> 조회
					</button>
				</div>
			</div>
		</div>
		<!-- 메인 그리드 -->
		<div id="mainGrids"></div>
	</div>
	
	<div class="container-fluid mt-4">
		<!--  -->
		<div id="subGrids"></div>
	</div>
	
	<!-- 출고를 위한 모달 -->
	<div class="modal fade" id="outboundModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1>출고</h1>
				</div>
				<div class="modal-body">
					<div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
						<button class="btn btn-danger" id="resetModal">
						<i class="fas fa-square-minus"></i> 초기화
						</button>
						<button class="btn btn-primary" id="registerBtn">
                        <i class="fas fa-warehouse"></i> 출고
                    	</button>
					</div>
					<div id="gridModal"></div>
				</div>
				<div class="modal-footer">
				 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
<script th:inline="javascript">
// 그리드 전역 등록
let mainGrid;
let subGrid;
// 초기상태
changeView('조회');

//페이지 상태
$('#insertBtn').on('click', function() {
	changeView('등록');
});
$('#selectBtn').on('click', function() {
	changeView('조회');
});

//페이지 전환 처리
function changeView(viewType){
	if(mainGrid) {
		// 그리드 초기화
		mainGrid.destroy();
		// dom 초기화
		$('#mainGrids').html('');
		$('#subGrids').html('');
		$('#gridModal').html('');
	}
	// 그리드 변경
	if(viewType === '조회'){
		// 그리드 불러오기
		selectGrid();
		// 그리드 데이터 불러오기
		outboundList();
	}else if(viewType === '등록'){
		// 그리드 불러오기
		insertGrid();
		// 그리드 데이터 불러오기
		holdList();
	}
}


// 조회 그리드 데이터
function outboundList(){
	$.ajax({
		url:"/erp/inventory/outboundList",
		method:"GET"
		,data: {comId}
	   ,success:function(result) {
		   mainGrid.resetData(result);
	   } // ajax호출 끝
	})
 };
// 출고 그리드
function selectGrid(){
	// 출고 버튼 삭제
	$('#saveBtn').remove();
	$('#selectBtn').prop('disabled', true);
	$('#insertBtn').prop('disabled', false);
	
	// 출고 그리드 생성
	mainGrid = new tui.Grid({
	    el: document.getElementById('mainGrids'),
	    rowHeaders: ['checkbox'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 15,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	    	{ header: '출고코드',name:'outCode',align:'center'},
	        { header: '참조코드',name:'code',align:'center'},
	        { header: '구분',name:'typeName',align:'center',
	        	filter: 'select'
	        	},
	        { header: '상태',name:'statusName',align:'center',
	        	filter: 'select'
	        	},
	        { header: '출고일',name:'createdDate',align:'center'},
	        { header: '담당자',name:'empName',align:'center'},
	        { header: '비고',name:'note',align:'center'}
	    ],
	});
} // 조회화면 끝

//등록 그리드 데이터
function holdList(){
	$.ajax({
		url:"/erp/inventory/outboundHoldList",
		method:"GET"
		,data: {comId}
	   ,success:function(result) {
		   result.forEach((item)=>{
			 item.reqQty = item.quantity - item.currQty;
		   })
		   mainGrid.resetData(result);
	   } // ajax호출 끝
	})
 };
 
// 등록 화면
function insertGrid(){
	// 출고 버튼 생성
	$('#btnGroup').prepend('<button class="btn btn-primary me-1" id="saveBtn" data-bs-toggle="modal" data-bs-target="#outboundModal"><i class="fas fa-warehouse"></i> 출고 </button>');
	// 버튼 비활성화
	$('#selectBtn').prop('disabled', false);
	$('#insertBtn').prop('disabled', true);
	
	// 모달안에서 그리드 처리
	$('#outboundModal').on('shown.bs.modal',function(){
		outboundGrid.refreshLayout();
	})
	// 모달 초기화
	$('#resetModal').on('click', ()=>{
		outboundGrid.resetData(data);
	})
	
	
	
	// 홀드 그리드 생성
	mainGrid = new tui.Grid({
	    el: document.getElementById('mainGrids'),
	    //checkbox부여
	    rowHeaders: ['checkbox'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 15,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	    	{ header: '홀드상세코드',name:'holdDtlCode',align:'center'},
	    	{ header: 'LOT',name:'lot',align:'center'},
	        { header: '제품명',name:'itemName',align:'center'},
	        { header: '의뢰수량',name:'quantity',align:'center'},
	        { header: '기출고량',name:'currQty',align:'center'},
	        { header: '미출고량',name:'reqQty',align:'center'},
	    	{ header: '항목코드',name:'code',align:'center'},
	        { header: '구분',name:'typeName',align:'center',
	        	filter: 'select'
	        	},
	        { header: '상태',name:'statusName',align:'center',
	        	filter: 'select'
	        	},
	        { header: '등록일자',name:'createdDate',align:'center'},
	        { header: '비고',name:'note',align:'center'}
	    ],
	});
	/* 
	// 홀드상세그리드
	subGrid = new tui.Grid({
	    el: document.getElementById('subGrids'),
	    rowHeaders: ['rowNum'],
	    //페이지네이션
	    pageOptions: {
	        perPage: 5,
	        useClient: true,
	    },
	    //필드값 구성
	    columns:[
	        { header: '홀드상세코드',name:'holdDtlCode',align:'center'},
	        { header: 'lot',name:'lot',align:'center'},
	        { header: '수량',name:'quantity',align:'center', dataType: 'number'},
	    ],
	}); // 그리드 끝 */
	
	// 출고처리 모달그리드
	outboundGrid = new tui.Grid({
		el: document.getElementById('gridModal'),
		rowHeaders: ['rowNum'],
		pageOptions: {
	        perPage: 15,
	        useClient: true,
	    },
	    columns:[
			    	{ header: '홀드상세코드', name: 'holdDtlCode', align:'center'},
			    	{ header: '품목명', name: 'itemName', align:'center'},
			    	{ header: '항목코드', name: 'code', align:'center'},
			    	{ header: '구분',name:'typeName',align:'center',
			        	filter: 'select'
			        },
			    	{ header: '상태',name:'statusName',align:'center',
			        	filter: 'select'
			        },
			    	{ header: '홀드수량', name: 'quantity', align:'center', dataType: 'number'},
			    	{ header: '기출고량', name: 'currQty', align:'center', dataType: 'number'},
			    	{ header: '미출고량', name: 'reqQty', align:'center', dataType: 'number'},
			    	{ header: '출고수량', name: 'qty', align:'center', editor: 'text', dataType: 'number'},
			    	{ header: '비고', name: 'note', align:'center', editor: 'text'}
	    		],
	    		columnOptions: {
				frozenCount: 8,
				frozenBorderWidth: 2
	    		}
	});
	
	
	// 출고 상세조회 이벤트
	/* mainGrid.on('click',(ev)=>{
		if (!ev.targetType || ev.targetType !== 'cell') {
		    // 셀이 아닌 곳 클릭 시 이벤트 무시 (체크 상태 변경 안함)
		    return;
		  }
		let { rowKey, columnName } = ev;
		let holdCode = mainGrid.getValue(rowKey, 'holdCode');
		let param = {comId,holdCode};
		
			$.ajax({
				url:"/erp/inventory/outboundHoldDetailList",
				method:"GET"
				,data:param
			   ,success:function(result) {
				   subGrid.resetData(result);
			   } // ajax호출 끝
			});
	}); */
	
	// 출고 모달 저장이벤트
	$('#registerBtn').on('click', ()=>{
		let data = outboundGrid.getData();
		// 벨리데이션 체크 + 등록을 위한 변수처리s
		for(let value of data){
			// 입력한 값이 number타입으로 변환
			value.qty = Number(value.qty);
			value.comId = comId;
			value.empId = empId;
			// 수량 입력했는지 안했는지 체크
			if(Number(value.qty) == "" && Number(value.qty) <= 0){
				Swal.fire({
					  icon: "error",
					  title: "수량 올바르게 입력 안됨!",
					  text: "수량을 입력해주세요!"
					});
				return;
			// 의뢰 수량보다 높게 입력한경우
			}else if(value.qty > value.quantity){
				Swal.fire({
					  icon: "error",
					  title: "의뢰 수량보다 많습니다!",
					  text: "수량을 입력해주세요!"
					});
				return;
			}else if(value.qty > value.reqQty){
				Swal.fire({
					  icon: "error",
					  title: "미 출고량보다 많습니다!",
					  text: "수량을 입력해주세요!"
					});
				return;
			}
			// 상태값 처리 출고 상태값
			// ht01 == 재고이동 ht02 == 출하의뢰
			if(value.type === 'ht02'){
				value.type = 'obt01';
				value.typeName = '거래처';
				// obs01 = 대기 02 = 부분출고 03 = 출고완료 reqQty=미출고량
				// hs01 = 부분홀드 02 = 처리완료 03 = 출고보류
				if(value.status == 'hs02' && value.qty == value.reqQty){
					value.status = 'obs03';
					value.statusName = '출고완료';
				}else{
					value.status = 'obs02';
					value.statusName = '부분출고';
				}
				// 재고이동일떄
			}else{
				value.type = 'obt02';
				value.type = '공장';
			}
		} // for문 종료
		console.log(data);
		  $.ajax({
			url:"/erp/inventory/insertoutbound",
			method:"POST",
			contentType: 'application/json',
			data: JSON.stringify(data),
			success:(result)=>{
			if(result > 0){
			Swal.fire({
				  icon: "success",
				  title: "출고 완료!",
				  text: "출고가 완료되었습니다."
				});
			}else{
				Swal.fire({
					  icon: "error",
					  title: "출고 실패!",
					  text: "출고가 실패했습니다."
					});
			}
			$('#outboundModal').modal('hide');
			mainGrid.uncheckAll();
			outboundGrid.refreshLayout();
			mainGrid.refreshLayout();
			}
		}); // ajax 끝
	})
	
	// 체크한경우 데이터 넣기
	mainGrid.on('check', checkRow)
	mainGrid.on('checkAll', checkRow)
	// 체크아웃한경우 데이터 뺴기
	mainGrid.on('uncheck', checkRow);
	mainGrid.on('uncheckAll', checkRow);
	
	let data;
	// check 처리
	function checkRow(){
		data= [];
		let param = {};
		  let rowCheck = mainGrid.getCheckedRows();
		  rowCheck.filter(item =>{
			  ee = {
				  lot: item.lot,
				  holdDtlCode: item.holdDtlCode,
				  holdCode: item.holdCode,
				  code: item.code,
				  type: item.type,
				  typeName: item.typeName,
				  statusName: item.statusName,
				  status: item.status,
				  itemCode: item.itemCode,
				  itemName: item.itemName,
				  quantity : item.quantity,
				  currQty : item.currQty,
				  reqQty : item.reqQty,
				  price: item.price,
				  qty : '',
				  note: ''
			  }
			  data.push(ee);
		  })
		  outboundGrid.resetData(data);
	}
	
} // 등록 그리드 끝
</script>
</body>
</html>