<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.acc.account.mapper.ChitMapper">

	<!-- 전표 리스트 출력 컬럼 날짜, 전표명, 계정과목, 거래처, 금액, 세금계산서 발행유무, 처리상태, 구분, 등록부서, 처리자,승인자,비고 -->
	<select id="chitFindAll" resultType="ChitVO"
		parameterType="ChitVO">
SELECT c.created_date 	
	 , c.chit_title  	
	 , '' parent
	 , c.chit_code
	 , getVdrName(c.vdr_code) as vdrCode
	 , c.supply_price
	 , c.vat_price
	 , c.tot_price  
	 , 0 iPrice
	 , c.tax_code  		
	 , getSubCode(c.status) as status  		
	 , getSubCode(c.type) as tType 			
	 , getDeptName(c.dept_code) as deptCode 
	 , getEmpName(c.phy_emp_id) as phyEmpId	
	 , getEmpName(c.appr_emp_id) as apprEmpId	
	 , c.note	
	 , '' acct_code
	 , '' iType
	 , '' INAME
	 , '' ANAME
  FROM chit c
  UNION 
SELECT i.created_date
	 , ''  chit_title
	 , chit_code parent
	 , chit_dt_id  
	 , '' vdrCode
	 , 0 supply_price
	 , 0 vat_price
	 , 0 tot_price
	 , i.price as iPrice
	 , '' tax_code
	 , '' status
	 , '' tType
	 , '' deptCode
	 , '' phyEmpId
	 , '' apprEmpId
	 , '' note
     , i.acct_code
	 , i.type as iType
	 , getSubCode(i.type) as INAME
	 , a.name as ANAME
  FROM indignation i 
  LEFT JOIN Account a ON i.acct_code = a.acct_code
	</select>

	<select id="acctCodeFindByCode" resultType="map">
		SELECT acct_code as acctCode, name as aname
		FROM account
		WHERE acct_yn = 'Y'
		AND (acct_code LIKE #{keyword} || '%'
		OR name LIKE '%' || #{keyword} || '%')
		ORDER BY acct_code
	</select>

	<select id="indTypeFindByCode" resultType="map">
		SELECT SUBSTR(sub_code, -2) AS iType, sub_name AS iName
		FROM subcodes
		WHERE main_code = 'itp'
		AND (sub_code LIKE '%' || #{keyword} || '%'
		OR sub_name LIKE '%' || #{keyword} || '%')
		ORDER BY sub_code
	</select>


<select id="getStatusByChitCode" resultType="String">
  SELECT status FROM chit WHERE chit_code = #{chitCode}
</select>


	<insert id="insert" parameterType="ChitVO">
		<selectKey resultType="string" keyProperty="chitDtId"
			order="BEFORE">
			SELECT 'chdt-' ||
			(NVL(MAX(TO_NUMBER(SUBSTR(chit_dt_id,6))),100)+1) chitDtId
			FROM
			indignation
		</selectKey>
		INSERT INTO indignation (
		chit_dt_id
		, chit_code
		, acct_code
		, type
		, price
		, created_date
		, com_id)
		VALUES (
		  #{chitDtId}
		, #{chitCode}
		, #{acctCode}
		, #{iType}
		, #{iPrice}
		, SYSDATE
		, 'com-101'
		)
	</insert>

	<update id="update">
		UPDATE chit
		SET 
		  phy_emp_id = 'e1001'
		, status = 'cst02'
		, note = #{note}
		, update_date = SYSDATE
		WHERE chit_code = #{chitCode}
	</update>

<update id="markAsPaid">
  UPDATE chit
  SET status = 'cst03', update_date = SYSDATE
  WHERE chit_code = #{chitCode}
</update>

	<delete id="delete" parameterType="ChitVO">
		DELETE FROM indignation
		WHERE chit_dt_id = #{chitDtId}
	</delete>



<update id="결제버튼 클릭시 상태 업데이트">
UPDATE chit
   SET status = 'sta03'
      update_date = SYSDATE
 WHERE chit_code = #{chitCode};
</update>

<update id="결제버튼 클릭시 거래처 미수 금액 업데이트">
UPDATE vender
   SET credit_bal_price = credit_bal_price + #{금액}
 WHERE vdr_code = (
     SELECT vdr_code
       FROM orders
      WHERE article_code = #{article_code}
 );
</update>
 
 
</mapper>