<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.dadam.acc.credit.mapper.TransactionsMapper">
	<!-- 목업용, 실제 쿼리 없음 -->
	<select id="selectAll" resultType="TransactionsVO">
		SELECT t.txn_hist_code  
			 , t.txn_date  
			 , t.txn_type  
			 , t.txn_memo  
			 , t.price  
			 , v.balance  
			 , t.bank  
			 , t.acct_no  
			 , t.com_id  
			 , t.txn_name  
		FROM transaction t
		JOIN VW_TRANSACTION_LEDGER v ON t.txn_hist_code = v.txn_hist_code
		WHERE t.com_id = #{comId}
		ORDER BY t.txn_date DESC, t.txn_hist_code DESC
	</select>


	<insert id="insert" parameterType="TransactionsVO">
		<selectKey keyProperty="txnHistCode" resultType="string"
			order="BEFORE">
			SELECT 'txh-' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(txn_hist_code, 5))), 0) + 1, 3, '0') AS txn_code
			FROM transaction
		</selectKey>
		INSERT INTO transaction (
		txn_hist_code
		, txn_date
		, txn_type
		, txn_name
		, txn_memo
		, price
		, bank
		, acct_no
		, com_id
		) VALUES (
		#{txnHistCode}
		, SYSDATE
		, #{txnType}
		, #{txnName}
		, #{txnMemo}
		, #{price}
		, #{bank}
		, #{acctNo}
		, #{comId}
		)
	</insert>

  <select id="findVenders" resultType="com.dadam.standard.vender.service.VenderVO">
    SELECT 
      vdr_code    AS vdrCode,
      type,
      vdr_name    AS vdrName,
      biz_no      AS bizNo,
      ceo_name    AS ceoName,
      addr,
      addr_detail AS addrDetail,
      email,
      tel,
      bank,
      acct_no     AS acctNo,
      credit_period AS creditPeriod,
      credit_price  AS creditPrice,
      credit_bal_price AS creditBalPrice,
      discount,
      com_id      AS comId,
      emp_id      AS empId
    FROM vender
    WHERE com_id = #{comId}
      AND type = 'vt01'
    <choose>
      <when test="type == 'vdrCode'">
        AND vdr_code LIKE '%'||#{value}||'%'
      </when>
      <when test="type == 'vdrName'">
        AND vdr_name LIKE '%'||#{value}||'%'
      </when>
      <when test="type == 'addr'">
        AND addr LIKE '%'||#{value}||'%'
      </when>
      <when test="type == 'acctNo'">
        AND acct_no LIKE '%'||#{value}||'%'
      </when>
    </choose>
    ORDER BY vdr_code DESC
  </select>


</mapper> 