<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.acc.credit.mapper.TransactionsMapper">
    <!-- 목업용, 실제 쿼리 없음 -->
    <select id="selectAll" resultType="TransactionsVO">
        SELECT * FROM transaction
    </select>
    
    
<!--     <select id="selectById" parameterType="string" resultType="TransactionsVO">
        SELECT * FROM transaction WHERE txn_hist_code = #{txn_hist_code}
    </select> -->
    
    
    <insert id="insert" parameterType="TransactionsVO">
        <selectKey keyProperty="txn_hist_code" resultType="string" order="BEFORE">
            SELECT CONCAT('txnhs-', LPAD(IFNULL(MAX(CAST(SUBSTRING(txn_hist_code, 7) AS UNSIGNED)), 0) + 1, 3, '0')) FROM transaction
        </selectKey>
        INSERT INTO transaction (
            txn_hist_code, txn_date, txn_type, txn_name, txn_memo, price, balance, bank, acct_no, com_id, cfmd_yn, cfmd_at, cfmd_by
        ) VALUES (
            #{txn_hist_code}, #{txn_date}, #{txn_type}, #{txn_name}, #{txn_memo}, #{price}, #{balance}, #{bank}, #{acct_no}, #{com_id}, #{cfmd_yn}, #{cfmd_at}, #{cfmd_by}
        )
    </insert>
    
    
    <update id="update" parameterType="TransactionsVO">
        UPDATE transaction SET
            txn_date = #{txn_date},
            txn_type = #{txn_type},
            txn_name = #{txn_name},
            txn_memo = #{txn_memo},
            price = #{price},
            balance = #{balance},
            bank = #{bank},
            acct_no = #{acct_no},
            com_id = #{com_id},
            cfmd_yn = #{cfmd_yn},
            cfmd_at = #{cfmd_at},
            cfmd_by = #{cfmd_by}
        WHERE txn_hist_code = #{txn_hist_code}
    </update>
    
    
    <delete id="delete" parameterType="string">
        DELETE FROM transaction WHERE txn_hist_code = #{txn_hist_code}
    </delete>
</mapper> 