<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.subscribe.mapper.SubscribeMapper">

<select id="menuList" resultType="SubscribeVO">
	SELECT option_code,
	       option_name,
	       price,
	       discount,
	       content,
	       content_detail
	  FROM erpSubsOption	
</select>

<insert id="subsAdd">
 <selectKey resultType="string" keyProperty="subsCode" order="BEFORE">
        SELECT 'subs_' || (NVL(MAX(TO_NUMBER(SUBSTR(subs_code,6))),100)+1)
FROM erpSubs
    </selectKey>
   INSERT INTO erpsubs(subs_code,
                       subs_type,
                       subs_expiration,
                       subs_start,
                       subs_term,
                       subs_price,
                       subs_quantity,
                       subs_state,
                       option_code,
                       com_id,
                       billing_key,
                       const_image)
       VALUES(#{subsCode},
              #{subsType},
              sysdate+#{subsTerm},
              sysdate,
              #{subsTerm},
              #{subsPrice},
              #{subsQuantity},
              'C02',
              #{optionCode},
              #{comId},
              #{billingKey},
              #{constImage})
</insert>
<!-- 결제일자 조회 후 다시 결제  -->
<select id="selectSubs" resultType="SubsListVO">
	SELECT billing_key,
	       com_id,
	       subs_term, 
	       subs_price,  
	       subs_quantity,
	       option_code
	FROM erpSubs 
	WHERE subs_type='S01'
	AND subs_state = 'C02'
	AND TO_CHAR(subs_expiration,'yy/mm/dd') =TO_CHAR(sysdate,'yy/mm/dd')
</select>

<!-- 계약만료 없데이트 -->
<update id="subsEnd">
	UPDATE erpSubs
	SET SUBS_STATE = 'CO1'
	WHERE billing_key = #{billingKey} 
</update>
<!-- 첫결제 추가 -->
<insert id="firstAdd" >
  INSERT INTO employees (EMP_ID,
                     COM_ID,
       		         PWD,
            		EMP_NAME,
            		POSITION,
            		EMP_STATUS,
            		DEPT_CODE)
VALUES ('e1001',
       #{comId},
       '$2a$10$6SyT5kux10Cl9ZAAzWDkT.Fv523NRs6PdYXqQ6fseai/Y.RD39Tfy',
       #{empName},
       'pos00',
       'GJ01',
       'de1001')
</insert>
<!-- 결제 중복 조회 -->
<select id="sameCheck" resultType="int">
SELECT COUNT(*)
FROM erpSUbs
	  WHERE com_id = #{comId}
	  AND subs_state='C02'
	  AND subs_expiration>sysdate
</select>

<!-- 세금계산서 등록 -->
<insert id="taxAdd">
  <selectKey resultType="string" keyProperty="billCode" order="BEFORE">
         SELECT 'bill_' || (NVL(MAX(TO_NUMBER(SUBSTR(bill_code,6))),100)+1)
		FROM erpTax
    </selectKey>
INSERT INTO erpTax(BILL_CODE,
                   COM_ID,
                    CREATED_DATE,
                    PRICE,
                    SURTAX,
                    SUP_PRICE,
                    SUBS_CODE)
                    
VALUES (#{billCode},#{comId},sysdate,#{subsPrice},#{subsPrice}/10,#{subsPrice}-#{subsPrice}/10,#{subsCode})
</insert>
</mapper>