<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.hr.emp.mapper.AuthMapper">
    <!-- [권한 목록 조회] 권한코드/명칭 전체 조회 -->
    <select id="getAuthList" resultType="map">
        SELECT auth_code AS authCode, auth_name AS authName FROM auth
    </select>
</mapper> 