<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.hr.emp.mapper.DeptMapper">
    <select id="findAllDepartments" resultType="com.dadam.hr.emp.service.DeptVO">
        SELECT 
            dept_code AS deptCode,
            dept_name AS deptName,
            parent_dept_code AS parentDeptCode,
            emp_id AS empId,
            created_date AS createdDate,
            com_id AS comId,
            acct_yn AS acctYn,
            remark
        FROM departments
        ORDER BY dept_code
    </select>

    <insert id="insertDepartment" parameterType="com.dadam.hr.emp.service.DeptVO">
        INSERT INTO departments (
            dept_code, dept_name, parent_dept_code, emp_id, created_date, com_id, acct_yn, remark
        ) VALUES (
            #{deptCode}, #{deptName}, #{parentDeptCode}, #{empId}, SYSDATE, #{comId}, #{acctYn}, #{remark}
        )
    </insert>

    <update id="updateDepartment" parameterType="com.dadam.hr.emp.service.DeptVO">
        UPDATE departments
        SET dept_name = #{deptName},
            parent_dept_code = #{parentDeptCode},
            emp_id = #{empId},
            com_id = #{comId},
            acct_yn = #{acctYn},
            remark = #{remark}
        WHERE dept_code = #{deptCode}
    </update>

    <delete id="deleteDepartment" parameterType="string">
        DELETE FROM departments WHERE dept_code = #{deptCode}
    </delete>

    <select id="findDepartmentByCode" parameterType="string" resultType="com.dadam.hr.emp.service.DeptVO">
        SELECT 
            dept_code AS deptCode,
            dept_name AS deptName,
            parent_dept_code AS parentDeptCode,
            emp_id AS empId,
            created_date AS createdDate,
            com_id AS comId,
            acct_yn AS acctYn,
            remark
        FROM departments
        WHERE dept_code = #{deptCode}
    </select>
</mapper> 