/* Toast UI Grid 커스텀 스타일 */
.tui-grid-container {
	border-radius: 12px !important;
	overflow: visible;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08) !important; /* 부드러운 그림자 */
}

.tui-grid-header-area {
	background: #a3afc2 !important;
	border-bottom: 2px solid #e5e7eb !important;
}

.tui-grid-header-area .tui-grid-cell {
	background: transparent !important;
	border-right: 1px solid #e5e7eb !important;
	color: #374151 !important;
}

.tui-grid-body-area .tui-grid-row:hover .tui-grid-cell {
	background-color: #f8fafc !important;
}

.tui-grid-body-area .tui-grid-row.tui-grid-row-selected .tui-grid-cell {
	background-color: rgba(99, 102, 241, 0.1) !important;
}

.tui-is-selected {
	background-color: #6366f1 !important; /* 인디고 색상 */
	color: #fff !important;
	font-weight: bold;
	border: 1px solid #6366f1 !important;
}

.tui-page-btn.tui-prev-is-disabled, .tui-page-btn.tui-next-is-disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

.tui-page-btn.tui-prev, .tui-page-btn.tui-next, .tui-page-btn.tui-first,
	.tui-page-btn.tui-last {
	color: #6b7280; /* 중간 회색 */
	font-weight: bold;
}

.tui-page-btn:not(.tui-is-selected):hover {
	color: #4f46e5; /* 진한 인디고 */
	border-color: #c7d2fe;
	background-color: #eef2ff;
}

.tui-grid-border-line-top {
	display: none !important;
}

.tui-grid-border-line-bottom {
	border-bottom: none !important;
}

.tui-pagination {
	padding-bottom: 10px;
}

.start-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #facc15; /* 연한 노랑 */
	background-color: #fefce8; /* 연노랑 배경 */
	color: #92400e; /* 진한 주황갈색 */
}

.end-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #22c55e; /* 연초록 */
	background-color: #ecfdf5; /* 아주 연한 민트 */
	color: #065f46; /* 진한 초록 */
}

.del-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #f87171; /* 연한 빨강 */
	background-color: #fef2f2; /* 아주 연한 빨강 */
	color: #991b1b; /* 진한 빨강 */
}

.info-action {
	display: inline-block;
	padding: 3px 8px;
	font-size: 12px;
	border-radius: 12px;
	border: 1px solid #96FFFF; /* 연한 파랑 */
	background-color: #C8FFFF; /* 아주 연한 빨강 */
	color: #32F1FF; /* 진한 파랑 */
}

.require {
	color: red;
}

#autocompleteList {
	border: 1px solid #dee2e6;
	border-radius: 0 0 0.375rem 0.375rem;
	background-color: #fff;
}

#autocompleteList .list-group-item {
	cursor: pointer;
}

#autocompleteList .list-group-item:hover {
	background-color: #f8f9fa;
}

.autocomplete-item:hover {
	background-color: #f0f9ff;
	color: #0c4a6e;
}

.autocomplete-item i {
	width: 16px;
	text-align: center;
}

.autocomplete-item.no-result {
	color: #6c757d;
	background-color: #f8f9fa;
	cursor: default;
}
#content{
	background: #f0f3f7;
}