<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.inventory.hold.mapper.HoldMapper">
	
	<select id="selectHoldList" resultType="HoldVO" parameterType="HoldVO">
		SELECT  
				hold_code,
		        item_code,
		        getitemName(item_code) itemName,
		        quantity,
		        getsubcode(type) typeName,
		        type,
		        getsubCode(status) statusName,
		        status,
		        note,
		        created_date
		FROM hold
		WHERE com_id = #{comId}
	</select>

	<select id="selectShipRequestModal" resultType="OutboundVO" parameterType="HoldVO">
		SELECT 
			 	sd.ship_req_dtl_code,
			 	sd.item_code,
			 	it.name item_name,
                it.price,
			 	sd.status,
                subcode(sd.status) statusName,
			 	sd.quantity,
			 	sd.tot_price,
                sd.ship_req_code,
                getvdrname(sr.vdr_code) vdrName,
                sr.vdr_code,
			 	sr.ship_exp_date,
			 	sr.emp_id,
                getempName(sr.emp_id) empName,
                sr.created_date,
                sd.dlive_date
		FROM shipRequestDetail sd left join shiprequest sr
                                    	on(sd.ship_req_code = sr.ship_req_code AND sd.com_id = sr.com_id)
                                        join item it
                                        on(sd.item_code = it.item_code AND sd.com_id = it.com_id)
        WHERE sd.com_id = #{comId} AND sd.status in('srd04','srd01','srd05')
	</select>
	<select id="selectHoldLotList" resultType="HoldVO">
		SELECT
				st.lot,
				st.loc_code,
				st.item_code,
				it.name item_name,
				it.price,
				st.quantity
		FROM stock st join item it
                        on(st.item_code = it.item_code AND st.com_id = it.com_id)
        WHERE st.com_id = #{comId} AND st.item_code = #{itemCode}
	</select>
	
	<insert id="insertHoldList" parameterType="HoldVO">
		<selectKey resultType="string" keyProperty="holdCode" order="BEFORE">
			SELECT 'hold-' || (NVL(MAX(TO_NUMBER(SUBSTR(hold_code,6))),100)+1) lot
			FROM hold
		</selectKey>
	INSERT INTO hold(hold_code, item_code, quantity, type, status, note, com_id, created_date, code)
	values(
			#{holdCode},
			#{itemCode},
			#{quantity},
			#{type},
			#{status},
			#{note},
			#{comId},
			sysdate,
			#{code}
			)
	</insert>
	
	<insert id="insertHoldLotList" parameterType="LotVO">
		<selectKey resultType="string" keyProperty="holdDtlCode" order="BEFORE">
			SELECT 'holddt-' || (NVL(MAX(TO_NUMBER(SUBSTR(hold_dtl_code,8))),100)+1) lot
			FROM holddetail
		</selectKey>
	INSERT INTO holddetail(hold_dtl_code, hold_code, lot, quantity, com_id)
	values(
			#{holdDtlCode},
			#{holdCode},
			#{lot},
			#{quantity},
			#{comId}
			)
	</insert>
	
	
</mapper>