<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.inventory.hold.mapper.HoldMapper">
	<!-- 홀드 내용 조회 -->
	<select id="selectHoldList" resultType="HoldVO" parameterType="HoldVO">
		SELECT  
				ho.hold_code,
		        ho.item_code,
		        ho.code,
		        getitemName(ho.item_code) itemName,
		        ho.quantity,
		        getsubcode(ho.type) typeName,
		        ho.type,
		        getsubCode(ho.status) statusName,
		        ho.status,
		        ho.note,
		        ho.created_date,
		        hod.hdqty
		FROM hold ho left join (SELECT hold_code, com_id, nvl(SUM(quantity),0) hdqty
	                           FROM holddetail
	                           GROUP BY hold_code, com_id) hod
	                           ON(ho.hold_code = hod.hold_code AND ho.com_id = hod.com_id)
		WHERE ho.com_id = #{comId}
		ORDER BY hold_code DESC
	</select>
	
	<!-- 출하의뢰상세모달 조회 -->
	<select id="selectShipRequestModal" resultType="OutboundVO" parameterType="HoldVO">
		SELECT 
			 	sd.ship_req_dtl_code,
			 	sd.item_code,
			 	getitemName(sd.item_code) item_name,
			 	sd.status,
                subcode(sd.status) statusName,
			 	sd.quantity,
			 	sd.tot_price,
                sd.ship_req_code,
                getvdrname(sr.vdr_code) vdrName,
                sr.vdr_code,
			 	sr.ship_exp_date,
			 	sr.emp_id,
                getempName(sr.emp_id, #{comId}) empName,
                sr.created_date,
                sd.dlive_date,
                (SELECT nvl(SUM(quantity),0)
                FROM holddetail
                WHERE hold_code = ho.hold_code AND com_id = #{comId}) hdqty
		FROM shipRequestDetail sd left join shiprequest sr
                                    	on(sd.ship_req_code = sr.ship_req_code AND sd.com_id = sr.com_id)
                                    	left join hold ho
                                        on(ho.code = sd.ship_req_dtl_code AND ho.com_id = sd.com_id)
        WHERE sd.com_id = #{comId} AND sd.status in('srd04','srd01')
        ORDER BY ship_req_dtl_code
	</select>
	
	<!-- LOT모달 조회 -->
	<select id="selectHoldLotList" resultType="HoldVO">
        SELECT
				lot,
				loc_code,
				item_code,
				getitemName(item_code) item_name,
				quantity,
                hold_qty
		FROM stock st
		WHERE com_id = #{comId} AND item_code =  #{itemCode} AND quantity > hold_qty
	</select>
	<!-- 업데이트일때 pk가져오기.. -->
	<select id="getHoldCode" parameterType="HoldVO" resultType="string">
	    SELECT hold_code FROM hold
	    WHERE code = #{code} AND item_code = #{itemCode} AND com_id = #{comId}
	</select>
	<!--등록일지 업데이트일지 확인하기위한 조회... -->
	<select id="selectHoldKey" parameterType="HoldVO" resultType="int">
		SELECT COUNT(*) 
	    FROM hold
	    WHERE code = #{code} AND item_code = #{itemCode} AND com_id = #{comId}
	</select>
	<!-- 홀드 등록 머지문은 안됨...-->
	<insert id="insertHoldList" parameterType="HoldVO">
		<selectKey resultType="string" keyProperty="holdCode" order="BEFORE">
			SELECT 'hold-' || (NVL(MAX(TO_NUMBER(SUBSTR(hold_code,6))),100)+1) holdCode
			FROM hold
		</selectKey>
	 INSERT INTO hold(hold_code, item_code, quantity, type, status, note, com_id, created_date, code)
     VALUES (#{holdCode}, #{itemCode}, #{quantity}, #{type}, #{hstatus}, #{note}, #{comId}, sysdate, #{code})
	</insert>
	<update id="updateHoldList" parameterType="HoldVO">
	    UPDATE hold
	    SET status = #{hstatus}, note = #{note}
	    WHERE code = #{code} AND item_code = #{itemCode} AND com_id = #{comId}
	</update>
	
	<!-- <insert id="insertHoldList" parameterType="HoldVO">
		<selectKey resultType="string" keyProperty="holdCode" order="BEFORE">
			SELECT 'hold-' || (NVL(MAX(TO_NUMBER(SUBSTR(hold_code,6))),100)+1) holdCode
			FROM hold
		</selectKey>
	MERGE INTO hold ho
		USING (
		    SELECT 
                #{holdCode} AS hold_code,
                #{itemCode} AS item_code,
                #{quantity} AS quantity,
                #{type} AS type,
                #{hstatus} AS status,
                #{comId} AS com_id,
                #{createdDate} AS created_date,
                #{code} AS code,
                #{note} AS note
		    FROM dual
		) data
		ON (
		    ho.code = data.code AND ho.item_code = data.item_code AND ho.com_id = data.com_id
		)
		WHEN MATCHED THEN
		    UPDATE SET 
		        ho.status = data.status, ho.note = data.note
		WHEN NOT MATCHED THEN
        INSERT (hold_code, item_code, quantity, type, status, note, com_id, created_date, code)
        values(data.hold_code, data.item_code, data.quantity,data.type, data.status, data.note, data.com_id, sysdate, data.code)
	</insert> -->
	
	<!-- 홀드디테일 등록 -->
	<insert id="insertHoldLotList" parameterType="LotVO">
		<selectKey resultType="string" keyProperty="holdDtlCode" order="BEFORE">
			SELECT 'holddt-' || (NVL(MAX(TO_NUMBER(SUBSTR(hold_dtl_code,8))),100)+1) holdDtlCode
			FROM holddetail
		</selectKey>
	INSERT INTO holddetail(hold_dtl_code, hold_code, lot, quantity, com_id)
	values(
			#{holdDtlCode},
			#{holdCode},
			#{lot},
			#{qty},
			#{comId}
			)
	</insert>
	<!-- 홀드등록할때 출하의뢰상세 상태값 변경 -->
	<update id="updateHoldShipRequestDetail" parameterType="HoldVO">
		UPDATE shiprequestdetail
		SET status = #{shipstatus}
		WHERE com_id = #{comId} AND ship_req_dtl_code = #{code}
	</update>
	<!-- 현재 입력된값 가져오기 -->
	<select id="selectHoldStockHoldQty" parameterType="LotVO" resultType="int">
	SELECT nvl(hold_qty,0) hold_qty
	FROM stock
	WHERE lot = #{lot} AND com_id = #{comId}
	</select>
	
	<!-- 현재 홀드되어있는 수량 추가 증감시켜서 들어가야함.-->
	<update id="updateHoldStock" parameterType="LotVO">
	UPDATE stock
	SET hold_qty = #{holdQty}
	WHERE lot = #{lot} AND com_id = #{comId}
	</update>
	
	<!-- 조회페이지에서 lot봉 -->
	<select id="selectHoldDetailList" resultType="LotVO" parameterType="LotVO">
		SELECT    HOLD_DTL_CODE
				, LOT
				, QUANTITY
		FROM holdDetail
		WHERE hold_code = #{holdCode} AND com_id = #{comId}
	</select>
	<select id="selectHoldDetailHoldQty" resultType="int" parameterType="HoldVO">
		SELECT nvl(SUM(quantity),0) hold_qty
		FROM holddetail
		WHERE hold_code = #{holdCode} AND com_id = #{comId}
	</select>
</mapper>