<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.inventory.outbound.mapper.OutboundMapper">
	<!-- 기본 조회 출고리스트 -->
	<select id="selectOutBoundList" resultType="OutboundVO" parameterType="OutboundVO">
		SELECT    out_code
				, ship_req_code
				, emp_id
				, getempname(emp_id, #{comId}) empName
				, created_date
				, type
				, getsubcode(type) typeName
				, status
				, getsubcode(status) statusName
				, note
		FROM outbound
		WHERE com_id = #{comId}
	</select>
	<!-- 출고 상세 조회 -->
	<select id="selectOutBoundDetailList" resultType="OutboundVO" parameterType="OutboundVO">
		SELECT  out_dtl_code
				,hold_code
				,out_code
				,item_code
				,getitemName(item_code) item_Name
				,quantity
				,lot
				,note
		FROM outbounddetail
		WHERE com_id = #{comId} AND OUT_CODE = #{outCode}
	</select>
	<!-- 등록할떄 사용하는 홀드리스트 -->
	<select id="selectHoldOutboundList" resultType="HoldVO" parameterType="HoldVO">
		SELECT  
				ho.hold_code,
                ho.code,
		        ho.item_code,
		        getitemName(ho.item_code) itemName,
		        ho.quantity,
		        getsubcode(ho.type) typeName,
		        ho.type,
		        getsubCode(ho.status) statusName,
		        ho.status,
		        ho.note,
		        ho.created_date
		FROM hold ho join holddetail hod
                        on(ho.com_id = hod.com_id AND hod.hold_code = ho.hold_code)
		WHERE ho.com_id = #{comId} AND ho.status NOT IN('hs02')
	</select>
	<!-- 현재 사용안함! 출하의뢰상세모달 조회 부분출고, 홀드중, 홀드완료만 조회-->
	<select id="selectOutboundShipRequestModal" resultType="OutboundVO" parameterType="HoldVO">
		SELECT 
			 	sd.ship_req_dtl_code,
			 	sd.item_code,
			 	getitemName(sd.item_code) item_name,
                getitemprice(sd.item_code) price,
			 	sd.status,
                subcode(sd.status) statusName,
			 	sd.quantity,
			 	sd.tot_price,
                sd.ship_req_code,
                getvdrname(sr.vdr_code) vdrName,
                sr.vdr_code,
			 	sr.ship_exp_date,
			 	sr.emp_id,
                getempName(sr.emp_id, #{comId}) empName,
                sr.created_date,
                sd.dlive_date
		FROM shipRequestDetail sd left join shiprequest sr
                                    	on(sd.ship_req_code = sr.ship_req_code AND sd.com_id = sr.com_id)
        WHERE sd.com_id = #{comId} AND sd.status in('srd02','srd04','srd05')
        ORDER BY ship_exp_date
    </select>
	<select id="selectOutboundHoldDetailList" resultType="LotVO" parameterType="LotVO">
		SELECT    hold_dtl_code
				, lot
				, quantity
		FROM holdDetail
		WHERE hold_code = #{holdCode} AND com_id = #{comId}
	</select>
</mapper>