<!DOCTYPE html>
<!-- =====================
      이름    | 기능            |  등록일자    | 수정일자  |
      신현욱   | toast ui 사용법 | 2025-06-18 
-->
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/default_layout}" 
  layout:fragment="Content">
<body>
  <h1>Toastui</h1>
  <button id="excel">엑셀다운</button>
  <button id="addRow">행추가</button>
  <button id="deleteRow">행삭제</button>
  <button id="saveBtn">모든변경사항보기</button>
  <div class="col-12">
	   <div id="sampleGrid"></div>
   </div>
  
</body>
<script th:inline="javascript">
//세션값 가져와 회원코드 가져오기


//toast ui 생성
const sampleGrid = new tui.Grid({
	//toastui 아이디 가져오기
    el: document.getElementById('sampleGrid'),
    //checkbox부여
    rowHeaders: ['checkbox'],
    //스크롤여부
    scrollX: false,
    scrollY: false,
    //페이지네이션
    pageOptions: {
        perPage: 5,
        useClient: true,
    },
    //필드값 구성
    columns:[
        // header: 필드 이름  name:객체 key값  align:정렬방법
        // editor:true -> cell안에 등록가능
        // width -> 크기조정
        { header: '사원번호',name:'employeeId',align:'center',width:500,
        //validaton 검증 해당 값이 안되면 해당셀은 빨간색으로 변함
        	validation:{
            dataType:'number',
            min:1001,
            max:1003,
         },},
        { header: '이름',name:'lastName',align:'center',editor:'text'},
        { header: '부서',name:'departmentId',align:'center',editor:'text',
        	//render -> 만약 테이블값의 style을 변경하고 싶으면 아래처럼 조정
        	renderer:{
          	  styles:{
        		  color:(props) => props.value == '10'?  'rgba(252, 240, 3)' 
        		  : props.value == '20'?  'rgba(252, 3, 45)' 	  
        		  : props.value == '30'?  'rgba(3, 252, 65)':'',
        			fontSize :'14px',
              	    fontFamily: 'Malgun Gothic',
              	    fontWeight: 'bold'
        	  }
          },
          //formatter -> 실질적 cell안에 값을 포맷하여 보여주기만은 formmater 내용으로 보여준다 실질적으로 값을 보낼땐 cell안에 실질적 데이터를 전송한다.
          formatter: function(price){
        	  if(price.value=='20'){
              return price.value+'부서'
        	  }else{
        		  return price.value;
        	  };
                  },                   
        },
          { header: '직무',name:'jobId',align:'right',editor:'text'},
    ],
    		
    
});

//ajax -> toastUi에 넣기
function sampleList(){
	$.ajax({
		url:"/erp/sample/listAll",
		method:"GET"
	   ,success:function(result) {
		   //grid값 다시 rendering
		   console.log(result)
		   sampleGrid.resetData(result)
	   }
	})
}
sampleList();
//컬럼숨기기
sampleGrid.hideColumn("jobId");

//엑셀 다운로드.
const topOptions = {
			  includeHiddenColumns: true,
			  onlySelected: false,
			  fileName: '주문 정보 조회',
			};
$('#excel').on('click',function(){
	/* sampleGrid.export('xlsx',topOptions); */
})
//행추가
$('#addRow').on('click',function(){
  //행추가할 데이터 생성
	let addRow = {employeeId : '',
                lastName : '',
                jobId: '',
                departmentId : ''
               }		
  
  //데이터 sampleGrid 첫줄에 추가
  sampleGrid.prependRow(addRow);
  
  //데이터 samplGrid 맨 뒷줄에 추가
  sampleGrid.appendRow(addRow);

  //sampleGrid 재반영  
  sampleGrid.refreshLayout();
})

//행삭제
$('#deleteRow').on('click',function(){
	//체크된행을 가져오는 함수	
	const checkedRows = sampleGrid.getCheckedRows();
	console.log(checkedRows)
	//행의 총 갯수
	let count = sampleGrid.getRowCount()
	console.log(count)
  //행삭제
	checkedRows.forEach(item => {
    console.log(item)
    sampleGrid.removeRow(wwitem.rowKey)
  })
})

//모든 수정된행 보기
$('#saveBtn').on('click',function(){
	//움직임감지
	const changes = sampleGrid.getModifiedRows();
	//생성된행
	console.log(changes.createdRows);
	//수정된행
	console.log(changes.updatedRows);
	//삭제된행
	console.log(changes.deletedRows);
	
	console.log(sampleGrid.getData());
})
//세션정보가져오는법
let userID = [[${#authentication.principal != 'anonymousUser' ? #authentication.principal.username : ''}]];
//console.log(userID);

</script>
</html>