<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="icon" href="/main_img/icon.png" type="image/png">      
<head th:replace="~{common/configs/config :: ConfigFragment}"></head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/erp">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">dadam<sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0 mt-3">

            <!-- Heading -->
            <!-- 혹시나 드랍다운 할 경우 있어 남겨놓겠음 -->
           <!--  <div class="sidebar-heading d-flex justify-content-center align-items-center" style="font-size: 0.8rem; margin-top: 20px;">
                재무
            </div>

            Nav Item - Components Collapse Menu
            <li class="nav-item">
                <a class="nav-link collapsed d-flex justify-content-between" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo" 
                   aria-expanded="false" aria-controls="collapseTwo">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-fw fa-dollar-sign"></i>
                        <span>예산관리</span>
                    </div>
                    <i class="fas fa-fw fa-chevron-right"></i> 초기에는 '>' 아이콘
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">예산</h6>
                        <a class="collapse-item" href="buttons.html">예산신청</a>
                        <a class="collapse-item" href="cards.html">예산신청상황</a>
                    </div>
                </div>
            </li>

            Nav Item - Utilities Collapse Menu
            <li class="nav-item">
                <a class="nav-link collapsed d-flex justify-content-between" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUtilities" 
                   aria-expanded="false" aria-controls="collapseUtilities">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Utilities</span>
                    </div>
                    <i class="fas fa-fw fa-chevron-right"></i> 초기에는 '>' 아이콘
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            Nav Item - Pages Collapse Menu
            <li class="nav-item">
                <a class="nav-link collapsed d-flex justify-content-between" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" 
                   aria-expanded="false" aria-controls="collapsePages">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Pages</span>
                    </div>
                    <i class="fas fa-fw fa-chevron-right"></i> 초기에는 '>' 아이콘
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li> -->

            <!-- Divider -->
            <hr class="sidebar-divider">
			
			
			<!-- 기준정보 -->
			<div th:if="${activeMenu == 'standard'}">
            <li class="nav-item">
                <a class="nav-link" href="/erp/standard/vender">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>거래처</span>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/erp/standard/item">
                    <i class="fas fa-fw fa-cube"></i>
                    <span>품목</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/erp/standard/warehouses">
                    <i class="fas fa-fw fa-cubes"></i>
                    <span>창고</span>
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/erp/hr/deptlist">
                    <i class="fas fa-fw fa-sitemap"></i>
                    <span>부서관리</span>
                </a>
            </li>
          
			</div>
			
			
			<!-- 영업 -->
			<div  th:if="${activeMenu == 'sales'}">
            <!-- Heading -->
            <!-- Nav Item - Charts -->
            <li class="nav-item">
             <!-- <a class="nav-link" th:href="@{/erp/sales/quote}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>견적서관리</span>
                </a> --> 
                <a class="nav-link" th:href="@{/erp/sales/order}">
                   <i class="fas fa-fw fa-chart-area"></i>
                    <span>주문관리</span>
                </a>
                <a class="nav-link" th:href="@{/erp/sales/shipreq}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>출하의뢰</span>
                </a>
                <a class="nav-link" th:href="@{/erp/sales/purchase}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>구매관리</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erp/sales/chit}">
                    <i class="fas fa-fw fa-cubes"></i>
                    <span>전표관리</span>
                </a>
            </li>
           
			</div>
			
			
			<!-- 재고 -->
			<div  th:if="${activeMenu == 'inventory'}">
            <!-- Heading -->
	            <!-- Nav Item - Charts -->
	            <!-- <li class="nav-item">
	                <a class="nav-link" href="/erp/inventory/warehouse">
	                    <i class="fas fa-fw fa-cubes"></i>
	                    <span>창고관리</span>
	                </a>
	            </li> -->
	            <!-- Nav Item - Tables -->
	            <li class="nav-item">
	                <a class="nav-link" href="/erp/inventory/inbound">
	                    <i class="fas fa-fw fa-industry"></i>
	                    <span>입고관리</span>
	                </a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="/erp/inventory/hold">
	                    <i class="fas fa-fw fa-pause-circle"></i>
	                    <span>홀드관리</span>
	                </a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="/erp/inventory/outbound">
	                    <i class="fas fa-fw fa-truck"></i>
	                    <span>출고관리</span>
	                </a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="/erp/inventory/physical">
	                    <i class="fas fa-fw fa-table"></i>
	                    <span>재고실사</span>
	                </a>
	            </li>
	           <!--  <li class="nav-item">
	                <a class="nav-link" href="/erp/inventory/history">
	                    <i class="fas fa-fw fa-history"></i>
	                    <span>이력</span>
	                </a>
	            </li> -->
	            <li class="nav-item">
	                <a class="nav-link" th:href="@{/erp/inventory/settlementForm}">
	                    <i class="fas fa-fw fa-cubes"></i>
	                    <span>재고결산</span>
	                </a>
	            </li>
	            <li class="nav-item">
                <a class="nav-link" th:href="@{/erp/inventory/chit}">
                    <i class="fas fa-fw fa-cubes"></i>
                    <span>전표관리</span>
                </a>
            </li>
			</div>
			
			
			
			<!-- 인사 -->
			<div  th:if="${activeMenu == 'hr'}">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erp/hr/emp-all}">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>사원현황</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erp/hr/empList}">
                    <i class="fas fa-fw fa-users"></i>
                    <span>사원관리</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erp/hr/attendance}">
                    <i class="fas fa-fw fa-clock"></i>
                    <span>근태관리</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erp/hr/salary-dashboard-admin2}">
                    <i class="fa-solid fa-gauge"></i>
                    <span>급여관리</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erp/hr/salaryitem}">
                    <i class="fas fa-fw fa-list-alt"></i>
                    <span>급여항목 관리</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erp/hr/chit}">
                    <i class="fas fa-fw fa-cubes"></i>
                    <span>전표관리</span>
                </a>
            </li>
            </div>
			
			
			
			<!-- 회계 -->
			<div  th:if="${activeMenu == 'accounting'}">
            <li class="nav-item">
                <a class="nav-link" href="/erp/accounting/account">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>계정과목</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/erp/accounting/journal ">
                    <i class="fas fa-fw fa-table"></i>
                    <span>전표결제</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/erp/accounting/credit">
                    <i class="fas fa-fw fa-table"></i>
                    <span>거래처 원장</span>
                </a>
            </li>
<!--             <li class="nav-item">
                <a class="nav-link" href="Chit">
                    <i class="fas fa-fw fa-table"></i>
                    <span>매입매출조회</span>
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/erp/accounting/balanceSheet">
                    <i class="fas fa-fw fa-table"></i>
                    <span>재무상태표</span>
                </a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="/erp/accounting/profitStatement">
                    <i class="fas fa-fw fa-table"></i>
                    <span>손익계산서</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/erp/accounting/chitList}">
                    <i class="fas fa-fw fa-cubes"></i>
                    <span>전표관리</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/erp/accounting/transac">
                    <i class="fas fa-fw fa-table"></i>
                    <span>입출금내역</span>
                </a>
            </li>
            
			</div>
			
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Header -->
                <div th:replace="~{common/fragments/header :: HeaderFragment}"></div>

                <!-- Main Content -->
                <!-- 채팅방 생성 슬라이드 -->
				<div class="offcanvas offcanvas-end" tabindex="-1"
					id="chatRoomCreateDrawer">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title">채팅방 만들기</h5>
						<button type="button" class="btn-close text-reset" id="createX"
							data-bs-dismiss="offcanvas"></button>
					</div>
					<div class="offcanvas-body">
						<div class="mb-3">
							<label for="chatRoomName" class="form-label">채팅방 이름</label> <input
								type="text" id="chatRoomName" class="form-control"
								placeholder="예: 개발팀 단체방">
						</div>
						<!-- 생성 버튼 -->
						<button class="btn btn-primary mb-3 w-100"
							onclick="createChatRoom()">채팅방 생성</button>
						<!-- 사원목록 -->
						<div class="list-group">

						</div>

						
					</div>
				</div>
				<main>
                    <div>
                        <th:block layout:fragment="Content"></th:block>
                    </div>
                </main>
            </div>
            <!-- Footer -->
            <div th:replace="~{common/fragments/footer :: FooterFragment}"></div>
        </div>
    </div>
	

	<!-- 채팅창 UI -->
	<div id="chatPopup" class="card shadow"
		style="position: fixed; bottom: 90px; right: 20px; width: 350px; height: 500px; display: none; flex-direction: column; z-index: 9999;">
		<div
			class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
			<span>채팅방</span>
			<button class="btn btn-sm btn-light" onclick="toggleChat()">닫기
				✖</button>
		</div>

		<!-- 메시지 영역 -->
		<div id="chatBox" class="card-body"
			style="overflow-y: auto; flex: 1; background: #f9f9f9;">
			
		</div>

		<!-- 입력창 -->
		<div class="card-footer">
			<div class="input-group">
				<input type="text" id="chatInput" class="form-control"
					placeholder="메시지 입력...">
				<button class="btn btn-primary" onclick="sendChat()">전송</button>
			</div>
		</div>
	</div>
	
	<script>
	
	 //사원목록 조회
	  async function loadEmployeeList() {
		  $.ajax({
			    url: '/erp/chat/chatEmpList',
			    method: 'GET',
			    dataType: 'json',
			    success: function (employees) {
			      const $listGroup = $('.offcanvas-body .list-group');
			      $listGroup.empty(); // 기존 목록 비우기

			      employees.forEach(function (emp) {
			    	//나의 프로필은 안보여주기
			    	if(emp.empId != empId){
			        profileUrl = emp.profileImgPath || '/default.png';
			        const item = `
			        
			          <label class="list-group-item d-flex align-items-center">
				            <input class="form-check-input me-2" type="checkbox" value="${emp.empId}" name="selectedEmployees">
				            <img src="/${profileUrl}" class="rounded-circle me-3" width="40" height="40">
				            <div>
				              <div>${emp.empName}</div>
				              <small class="text-muted">${emp.deptName}</small>
				            </div>
				          </label>
				        `;
				        $listGroup.append(item);
			    	}
			      });
			    },
			    error: function () {
			      alert('사원 목록을 불러오지 못했습니다.');
			    }
			  });
	}
	  //슬라이더 열릴때마다 호출
	  $('#chatRoomCreateDrawer').on('show.bs.offcanvas', function () {
		  loadEmployeeList();
		});
	//방생성
	 function createChatRoom() {
		    const chatRoomName = $('#chatRoomName').val();
		    const selectedEmpIds = $("input[name='selectedEmployees']:checked").map(function() {
		      return $(this).val();
		    }).get();
		
		    if (!chatRoomName) {
		      alert("채팅방 이름을 입력해주세요.");
		      return;
		    }
		
		    if (selectedEmpIds.length === 0) {
		      alert("참여할 사원을 선택해주세요.");
		      return;
		    }
		
		    // 전송할 리스트 구성
		    const paramList = $.map(selectedEmpIds, function(checkedId) {
		      return {
		        name: chatRoomName,
		        empId: checkedId,
		        empName:empName
		      };
		    });
		    //내정보도 추가
		    let myInfo = {name:chatRoomName, empId : empId,empName: empName} 
			paramList.push(myInfo);
		    
		    $.ajax({
		      type: 'POST',
		      url: '/erp/chat/chatDtlAdd',
		      contentType: 'application/json',
		      data: JSON.stringify(paramList),
		      success: function(result) {
		        alert('채팅방이 성공적으로 생성되었습니다.');
		     	// 채팅창 열기
		        openChatRoom(result,chatRoomName);
		     	// 오프캔버스 닫기 (수동)
		        $('#chatRoomCreateDrawer').removeClass('show'); 
		        $('body').removeClass('offcanvas-backdrop');
		        $('#chatRoomCreateDrawer').offcanvas('hide'); 
		      },
		      error: function() {
		        alert('채팅방 생성 중 오류 발생');
		      }
		    });
		  }
	
		  function toggleChat() {
		    const chat = document.getElementById('chatPopup');
		    chat.style.display = (chat.style.display === 'none' ? 'flex' : 'none');
		  }
		  
		  let stompClient = null;		 
		
		  function connect() {
			    const socket = new SockJS('/ws/chat');
			    stompClient = Stomp.over(socket);

			    stompClient.connect({}, function(frame) {
			        
			        // 현재 채팅방 ID 가져오기
			        const currentRoomId = $('#chatPopup').attr('data-room-id');
			        if (currentRoomId) {
			            if (currentSubscription) {
			                currentSubscription.unsubscribe();
			            }
			            currentSubscription = stompClient.subscribe(`/topic/chat.${currentRoomId}`, function(response) {
			                const message = JSON.parse(response.body);
			                if (message.sender !== comId) {
			                    showChatMessage(message);
			                }
			            });
			        }
			    }, function(error) {
			        console.error('STOMP 연결 실패:', error);
			    });
		  }
		  
		  $(document).ready(function() {
			    connect();
		  });
		 $('#chatInput').on('keydown',ev=>{
			 if(ev.keyCode==13){
				 sendChat();
			 }
		 })
		//채팅보내기
			 function sendChat() {
				    if (!stompClient || !stompClient.connected) {
				        alert('서버에 연결되어 있지 않습니다. 잠시 후 다시 시도하세요.');
				        return;
				    }
				
				    const message = $('#chatInput').val().trim();
				    if (!message) return;
				
				    const roomId = $('#chatPopup').attr('data-room-id');
				    if (!roomId) {
				        alert('채팅방을 선택하세요.');
				        return;
				    }
				    const chatMessage = {
				        roomId: roomId,
				        empId: empId, // 로그인된 사용자 정보로 변경 필요
				        message: message,
				        empName : empName,
				        comId : comId,
				        profileImgPath : profileImgPath
				    };
				
				    stompClient.send(`/app/chat.${roomId}`, {}, JSON.stringify(chatMessage));
				    $('#chatInput').val('');
				}
		  //보내는 화면 표시
		 function showChatMessage(msg) {
		    const myEmpId = empId;
		    
		    const isMine = (msg.empId === myEmpId);
		    const alignClass = isMine ? 'text-end' : '';
		    const bubbleColor = isMine ? 'bg-primary text-white' : 'bg-secondary text-white';
		    const senderName = isMine ? '' : msg.empName;
		    
		    profileUrl = msg.profileImgPath || '/default.png';
		    let html;
		    
		    if (isMine) {
		        // 내가 보낸 메시지 (프로필 사진 없음)
		        html = `
		        <div class="${alignClass} mb-2">
		            <div class="fw-bold">
		                ${senderName} <small class="text-muted">${msg.createdDate}</small>
		            </div>
		            <div class="${bubbleColor} rounded p-2 d-inline-block">${msg.message}</div>
		        </div>
		        `;
		    } else {
		        // 상대방이 보낸 메시지 (프로필 사진 포함)
		        html = `
		        <div class="${alignClass} mb-2">
		            <div class="d-flex align-items-start">
		                <div class="me-2">
		                    <img src="/${profileUrl}" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
		                </div>
		                <div>
		                    <div class="fw-bold">
		                        ${senderName} <small class="text-muted">${msg.createdDate}</small>
		                    </div>
		                    <div class="${bubbleColor} rounded p-2 d-inline-block">${msg.message}</div>
		                </div>
		            </div>
		        </div>
		        `;
		    }
		    
		    $('#chatBox').append(html);
		    $('#chatBox').scrollTop($('#chatBox')[0].scrollHeight); // 항상 맨 아래로
   }
		  
		  
		  
	</script>
</body>
</html>