<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="MainConfigFragment">
   
        <meta charset="utf-8">
        <title>LifeSure - Life Insurance Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:slnt,wght@-10..0,100..900&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" th:href="@{/main_lib/animate/animate.min.css}"/>
        <link th:href="@{/main_lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
        <link th:href="@{/main_lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link th:href="@{/main_css/bootstrap.min.css}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link th:href="@{/main_css/style.css}" rel="stylesheet">
        <!-- 전자서명 -->
        <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.6/dist/signature_pad.umd.min.js"></script> 
        <!-- 제이쿼리 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- SweetAlert2 CSS/JS CDN 추가  -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- toast ui cdn -->
        
        <!-- toast ui grid cdn 순서가 중요하다고 해서 수정했어요~(cdn위치수정) -유환 --> 
		<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		
		<!-- toast ui chart -->
		<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
		<link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
		<!-- 페이지네이션 cdn -->
		<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
		<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
		<link
		      rel="stylesheet"
		      type="text/css"
		      href="https://uicdn.toast.com/tui.time-picker/v2.0.3/tui-time-picker.css"
		    />
		    <link 
		      rel="stylesheet"
		      type="text/css" 
		      href="https://uicdn.toast.com/tui.date-picker/v4.1.0/tui-date-picker.css"
		    />
		    <script src="https://uicdn.toast.com/tui.time-picker/v2.0.3/tui-time-picker.js"></script>
		<script src="https://uicdn.toast.com/tui.date-picker/v4.1.0/tui-date-picker.js"></script>
		 <link th:href="@{/css/toastUi.css}" rel="stylesheet">  