<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta charset="utf-8" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap JS + Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="login">
    <div class="login__content">
      <div class="login__img">
        <img src="https://image.freepik.com/free-vector/code-typing-concept-illustration_114360-3581.jpg" alt="user login">
      </div>
      <div class="login__forms">
<!--         login form -->
 
        <form th:action="@{/erp/login}" class="login__register" id="login-in" method="post">
          <h1 class="login__title">Sign In</h1>
					<div th:if="${param.error}"
						class="alert alert-info alert-dismissible fade show mt-3"
						role="alert">
						<strong>로그인 실패!</strong><br> 아이디 또는 비밀번호가 일치하지 않습니다.
					</div>
					<div class="login__box">
            <i class='bx bx-user login__icon'></i>
            <input type="text" name="username" id="username" placeholder="ID" class="login__input">
          </div>
           <div class="login__box">
            <i class='bx bx-at login__icon'></i>
            <input type="text" id="comId" name="comId" placeholder="회사ID" class="login__input">
          </div>
          <div class="login__box">
            <i class='bx bx-lock login__icon'></i>
            <input type="password" name="password" id="password "placeholder="패스워드" class="login__input" onkeypress="enterLogin(event)">
          </div>
          <a href="#" class="login__button" onclick="login()">Sign In</a>
          
        </form>
      </div>
    </div>
   </div>
   <script type="text/javascript">
   //클릭시 발동
 	function login(){
 		let form = document.querySelector('#login-in')
 		 const username = document.getElementById("username").value;
    	 const comId = document.getElementById("comId").value;
 		 document.getElementById("username").value = username + "|" + comId;
 		form.submit();
 	}
   //엔터시 발동
   function enterLogin(e){
	   if(e.keyCode == 13){
			let form = document.querySelector('#login-in')
	 		 const username = document.getElementById("username").value;
	    	 const comId = document.getElementById("comId").value;
	 		 document.getElementById("username").value = username + "|" + comId;
	 		form.submit();
	   }
   }
   </script>
</body>
</html>