<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.hr.employee.mapper.EmployeeHistoryMapper">
    <!-- TODO: 실제 쿼리 구현 필요 -->
    <select id="selectEmployeeHistory" resultType="map">
        SELECT 1
    </select>
</mapper> 