<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
    <style>
        .search-container {
            margin-bottom: 20px;
        }
        .btn-group-custom {
            margin-bottom: 20px;
        }
        .tui-pagination{
        	padding-bottom:10px;
		}  
	   .start-action {
			display: inline-block;
			padding: 3px 8px;
			font-size: 12px;
			border-radius: 12px;
			border: 1px solid #facc15;        /* 연한 노랑 */
			background-color: #fefce8;        /* 연노랑 배경 */
			color: #92400e;                   /* 진한 주황갈색 */
		}
		.end-action {
			display: inline-block;
			padding: 3px 8px;
			font-size: 12px;
			border-radius: 12px;
			border: 1px solid #22c55e;        /* 연초록 */
			background-color: #ecfdf5;        /* 아주 연한 민트 */
			color: #065f46;                   /* 진한 초록 */
		}
		.del-action {
			display: inline-block;
			padding: 3px 8px;
			font-size: 12px;
			border-radius: 12px;
			border: 1px solid #f87171;        /* 연한 빨강 */
			background-color: #fef2f2;        /* 아주 연한 빨강 */
			color: #991b1b;                   /* 진한 빨강 */
		}
		
		.require{
			color :red;
		}
		#autocompleteList {
		    border: 1px solid #dee2e6;
		    border-radius: 0 0 0.375rem 0.375rem;
		    background-color: #fff;
		}
		#autocompleteList .list-group-item {
 		   cursor: pointer;
		}
		#autocompleteList .list-group-item:hover {
 		   background-color: #f8f9fa;
		}
	     .autocomplete-item:hover {
		    background-color: #f0f9ff;  
		    color: #0c4a6e;             
		}
		
		 .autocomplete-item i {
		    width: 16px;
		    text-align: center;
		 }
		
		.autocomplete-item.no-result {
		    color: #6c757d;             
		    background-color: #f8f9fa;  
		    cursor: default;
		 }
</style>
</head>
<body class="bg-light">
    <div class="container-fluid mt-4">
        <h3 class="mb-4">구매관리</h3>
        
        
        
        <!-- 검색 및 버튼 영역 -->
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="input-group search-container" style="width: 400px;">
                    <input type="text" class="form-control" placeholder="검색어를 입력하세요">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-6 text-end">
                <div class="btn-group-custom">
                	<button class="btn btn-secondary me-2" id="newBtn">
                        <i class="fas fa-pen"></i> 추가
                    </button>
					<button class="btn btn-warning me-2" id="searchBtn">
						<i class="fas fa-eye"></i> 조회
					</button>
                    <button class="btn btn-danger me-2" id="delBtn">
                        <i class="fas fa-trash"></i> 삭제
                    </button>
                    <button class="btn btn-primary" id="saveBtn">
                        <i class="fas fa-save"></i> 저장
                    </button>
                </div>
            </div>
        </div>

        <!-- 메인 테이블 -->
		<div id="mainGridWrapper" style="position: relative;">
			<div id="mainGrid"></div>

			<!-- Lottie 로딩 바 애니메이션 -->
			<div id="gridSpinner"
				style="position: absolute; top: 38px; left: 0; width: 100%; height: calc(100% - 38px); background: #fff; z-index: 10; display: none;"
				class="d-flex align-items-center justify-content-center">

				<!-- dotlottie-player로 변경 -->
				<dotlottie-player
					src="https://lottie.host/2cc6f5f8-11ca-42dc-aa76-12a046c8f86d/64CNuM1mPm.lottie"
					background="transparent" speed="1"
					style="width: 400px; height: 200px; filter: hue-rotate(3.142rad);" loop autoplay>
				</dotlottie-player>
			</div>
		</div>




		<!-- 상세 정보 테이블 -->

             <div class="text-end">
                <div class="btn-group-custom">
                	<button class="btn btn-primary me-2" id="rowAddBtn">
                        행추가
                    </button>
                    <button class="btn btn-danger me-2" id="rowDelBtn">
                       행삭제
                    </button>
                </div>
            </div>
                <div id="detailGrid"></div>
    </div>
  <!-- 발주의뢰 모달 -->
	<div class="modal fade" id="requestModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">발주서 의뢰 리스트</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
				<!-- 검색조건 -->
						<div class="input-group col-md-6 w-50 mb-3">
							<select class="form-select col-4" id="reqSelect">
								<option value="purReqCode" selected>발주서 의뢰</option>
								<option value="note">비고</option>
							</select>
							<input type="text" class="form-control col-6" placeholder="검색어를 입력하세요" id="reqInput">
			                    <button class="btn btn-outline-secondary col-2" type="button" id="reqSearchBtn">
			                        <i class="fas fa-search"></i>
			                    </button>
			              </div>
					<div class="container-fluid">
						<div id="requestGrid"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<!-- 거래처 모달-->
	<div class="modal fade" id="vdrModal" tabindex="-1"
		aria-labelledby="vdrModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="vdrModalLabel">거래처 리스트</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
				
						<!-- 검색 조건 -->
						<div class="position-relative mb-3" style="max-width: 500px;">
						    <div class="input-group">
						        <select class="form-select col-4" id="vdrSelect" style="max-width: 30%;">
						            <option value="vdrCode" selected>거래처코드</option>
						            <option value="vdrName">거래처명</option>
						        </select>
						        <input type="text" class="form-control" placeholder="검색어를 입력하세요" id="vdrInput" autocomplete="off">
						        <button class="btn btn-outline-secondary" type="button" id="vdrSearchBtn">
						            <i class="fas fa-search"></i>
						        </button>
						    </div>
						
						    <!-- 자동완성 리스트 -->
						    <ul id="autocompleteList"
						        class="list-group position-absolute w-100 shadow-sm"
						        style="top: 100%; z-index: 1050; max-height: 200px; overflow-y: auto; display: none;">
						    </ul>
						</div>
			            <div class="container-fluid">
					        <div id="vdrGrid"></div>
					   </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<!-- 아이템 모달-->
	<div class="modal fade" id="itemModal" tabindex="-1"
		aria-labelledby="itemModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="itemModalLabel">품목 항목</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<!-- 검색조건 -->
			                <div class="input-group col-md-6 w-50 mb-3">
							<select class="form-select col-4" id="vdrSelect">
								<option value="itemCode" selected>품목코드</option>
								<option value="itemName">품목명</option>
							</select>
							<input type="text" class="form-control col-6" placeholder="검색어를 입력하세요" id="vdrInput">
			                    <button class="btn btn-outline-secondary col-2" type="button" id="vdrSearchBtn">
			                        <i class="fas fa-search"></i>
			                    </button>
			                </div>	
				<div class="modal-body">
					<div class="container-fluid">
						<div id="itemGrid"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	
	
	
	//자동검색기능
	$(document).ready(function () {
		  setupAutocomplete({
		    inputSelector: '#vdrInput',
		    selectSelector: '#vdrSelect',
		    listSelector: '#autocompleteList',
		    ajaxUrl: '/erp/sales/venderAuto'
		  });

	});
	
	
	
	//모달창꺼졌을때 검색창 지우기
	  $('#vdrModal').on('hide.bs.modal',e => {
		  $('#vdrInput').val('');
	  })
	//필수값 별찍기
	function getName(name){
		const header = document.createElement('span');
		header.innerHTML=`<span class="require">* </span>${name}`
		return header;
	}
        // 메인그리드
        const mainGrid = new tui.Grid({
            // toastui 아이디 가져오기
            el: document.getElementById('mainGrid'),
            scrollX: false,
            scrollY: false,
            // checkbox 부여
            rowHeaders: ['checkbox'],
            // 페이지네이션
            pageOptions: {
                perPage: 10,
                useClient: true,
            },
            // 필드값 구성
            columns: [
                {header: '발주코드', name: 'purOrdCode', align: 'center', width: 120},
                {header: '거래처이름', name: 'vdrName', align: 'center', editor: 'text',customHeader:getName('거래처이름')},
                {header: '거래처코드', name: 'vdrCode', align: 'center', editor: 'text'},
                {header: '발주일자', name: 'purOrdDate', align: 'center', editor: 'datePicker' ,customHeader:getName('발주일자')},
                {header: '납기예정일자', name: 'expDlvDate', align: 'center', editor: 'datePicker',customHeader:getName('납기예정일자')},
                {header: '발주의뢰코드', name: 'purReqCode', align: 'center'},
                {header: '담당자', name: 'empName', align: 'center'},
                {header: '담당자코드', name: 'empId', align: 'center'},
                {header: '처리상태', name: 'status', align: 'center',
                	formatter:({ value }) => {
    				    if(value=='진행중'){
    				       return `<span class="start-action">${value}</span>`;
    				    }else if(value=='완료'){
    				       return `<span class="end-action">${value}</span>`;
    				    }else if(value=='취소'){
    				       return `<span class="del-action">${value}</span>`;
    				    }
                		
    				    return '';
    				},
                 },
                {header: '총공급가액', name: 'totSupPrice', align: 'center', 
                	formatter: function(price){
                     	  return priceFormat(price.value)+'원';
                       },	
                },
                {header: '총부가세', name: 'totVatPrice', align: 'center',
                	formatter: function(price){
                     	  return priceFormat(price.value)+'원';
                       },	
                },
                {header: '총금액합계', name: 'totAmtSum', align: 'center', 
                	formatter: function(price){
                     	  return priceFormat(price.value)+'원';
                       },	
                },
            ],
        });
        // 상세그리드
        const detailGrid = new tui.Grid({
            // toastui 아이디 가져오기
            el: document.getElementById('detailGrid'),
            scrollX: false,
            scrollY: false,
            // checkbox 부여
            rowHeaders: ['checkbox'],
           
            // 필드값 구성
            columns: [
                {header: '발주코드', name: 'purOrdCode', align: 'center', width: 120},
                {header: '발주상세코드', name: 'purOrdDtlCode', align: 'center'},
                {header: '폼목코드' ,name: 'itemCode', align: 'center'},
                {header: '품목이름', name: 'itemName', align: 'center',customHeader:getName('품목이름')},
                {header: '수량', name: 'quantity', align: 'center', editor: 'text',customHeader:getName('수량'),
                formatter: function(price){
                   	  return priceFormat(price.value)+'개';
                     },		
                },
                {header: '개당가격', name: 'price', align: 'center',
                	formatter: function(price){
                   	  return priceFormat(price.value)+'원';
                     },		
                },
                {header: '공급가액', name: 'supPrice', align: 'center', 
                	formatter: function(price){
                     	  return priceFormat(price.value)+'원';
                       },	
                },
                {header: '부가세', name: 'vatPrice', align: 'center', 
                	formatter: function(price){
                     	  return priceFormat(price.value)+'원';
                       },	
                },
                {header: '금액', name: 'totPrice', align: 'center', 
                	formatter: function(price){
                     	  return priceFormat(price.value)+'원';
                       },	
                },
            ],
        });
        
        //발주서 의뢰 그리드
        const requestGrid = new tui.Grid({
            // toastui 아이디 가져오기
            el: document.getElementById('requestGrid'),
            scrollX: false,
            scrollY: false,
            // 필드값 구성
            columns: [
                {header: '발주의뢰코드', name: 'purReqCode', align: 'center'},
                {header: '등록일자', name: 'createdDate', align: 'center'},
                {header: '담당자', name: 'empId', align: 'center', editor: 'text',},
                {header: '상태', name: 'status', align: 'center', editor: 'text'},
                {header: '비고', name: 'note', align: 'center', editor: 'text',
                	formatter: function(price){
                     	  return priceFormat(price.value)+'원';
                       },	
                },
              
            ],
        });
      //vdr 모달안에  vdrGrid 생성  
    	let vdrGrid=new tui.Grid({
    		el:document.getElementById('vdrGrid'),
    		pageOptions:{
    			perPage:10,
    			useClient: true, 
    		},
    		 columns:[
            	{header:'거래처코드',name:'vdrCode',align:'center'},
            	{header:'거래처명',name:'vdrName',align:'center'},
            ]
    	})
		//아이템 그리드 생성
		let itemGrid=new tui.Grid({
		el:document.getElementById('itemGrid'),
    	pageOptions: {
            perPage: 10,     //10개씩 보여주기 
            useClient: true, 
        }, 
        columns:[
        	{header:'종류',name:'type',align:'center'},
        	{header:'품목코드',name:'itemCode',align:'center'}, 
        	{header:'품목명',name:'name',align:'center'},
        	{header:'가격',name:'price',align:'center',
        		formatter: function(price){
               	  return priceFormat(price.value)+'원';
                 },	
           } 
        ]
    })
      //그리드 숨기기
      mainGrid.hideColumn('empId');
      mainGrid.hideColumn('vdrCode');
      detailGrid.hideColumn('itemCode');
      detailGrid.hideColumn('purOrdDtlCode');
        // 메인 리스트 불러오기
        function mainList() {
    	  pageStatus= 'search'
    	  let searchBtn =$('#searchBtn');
    	  let newBtn = $('#newBtn'); 
    	  //조회버튼 비활성화
    	  searchBtn.prop('disabled', true);
    	  //추가버튼 활성화
    	  newBtn.prop('disabled', false);   
    	  // 로딩 스피너 표시
    	  $('#gridSpinner').addClass('d-flex').show();
            $.ajax({
                url: "/erp/sales/purMainList",
                method: "GET",
                success: function(result) {
                    mainGrid.resetData(result);
                    //디테일 그리드 초기화
                    detailGrid.resetData([]);
                    $('#gridSpinner').css('display', 'none');
                },
                error: function(xhr, status, error) {
                    console.log("실패:", xhr.status, error);
                }
            }).always(function() {
            	 setTimeout(function() {
            		 $('#gridSpinner').removeClass('d-flex').hide();
            	    }, 1500);
            });
        }
      //금액 포맷 함수('#,###')
        function priceFormat(price) {
        	if(price == null){
        		return '0';
        	}
        	let result = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        	return result;
        }
        // 페이지 로드 시 메인 리스트 호출
        let pageStatus = "search";
        mainList();
        // 신규버튼 이벤트 처리
        $('#newBtn').on('click', function(ev) {
        	pageStatus="add"
          let searchBtn =$('#searchBtn');
      	  let newBtn = $('#newBtn'); 
      	  //조회버튼 활성화
      	  searchBtn.prop('disabled', false);
      	  //추가버튼 비활성화
      	  newBtn.prop('disabled', true);    
 	      let data = mainGrid.getData();
        	//그리드 초기화ㅣ
          mainGrid.resetData([{empId: empId,empName : empName}])
          detailGrid.resetData([{}]);
         		
        });
		//메인그리드 클릭 RowKey
		let mainRowKey = null;
		//메인그리드 클릭창
		mainGrid.on('click',ev => {
			if (!ev.targetType || ev.targetType !== 'cell') {
			    // 셀이 아닌 곳 클릭 시 이벤트 무시 (체크 상태 변경 안함)
			    return;
			  }
			mainRowKey = ev.rowKey;
			//발주의뢰코드 클릭시
			if(ev.columnName == 'purReqCode'){
				console.log(pageStatus)
				if(pageStatus=='search'){
					return;
				}
				requestModal();
				//리플래쉬
			  $(requestModal).on('shown.bs.modal',e => {
        			requestGrid.refreshLayout();
        	  })
			}
			
			//거래처 코드 클릭시
			if(ev.columnName == 'vdrName' ||ev.columnName == 'vdrCode'){
				vdrModal()
				 $(vdrModal).on('shown.bs.modal',e => {
					 vdrGrid.refreshLayout();
        	  })
			}
		})
		//발주의뢰 모달창
		function requestModal(){
			$('#requestModal').modal('show');
			$.ajax({
				url : "/erp/sales/purRequestList",
				method : "GET",
				success : function(result) {
					requestGrid.resetData(result);
				}
			})
		}
		//발주 의뢰 검색
		function requestSearchModal(type,value){
			$.ajax({
				url : "/erp/sales/purRequestList",
				method : "GET",
				data: {
					type : type,
					value : value
				},
				success : function(result) {
					requestGrid.resetData(result);
				}
			})
		}
		//발주 의뢰 클릭 검색
		$('#reqSearchBtn').on('click', ev=> {
			 let value = $('#reqInput').val();
			 let type = $("#reqSelect option:selected").val();
			 requestSearchModal(type,value);
		})
		//발주 엔터 검색
		$('#reqInput').on('keydown',ev => {
			if(ev.keyCode ==13){
				let value = $('#reqInput').val();
				let type = $("#reqSelect option:selected").val();
				requestSearchModal(type,value);
			}
		})
		
		
		//거래러 업체 모달창
		function vdrModal(){
			$('#vdrModal').modal('show');
			$.ajax({
				url:"/erp/sales/vederList",
				method:"GET",
				success:function(result){
					vdrGrid.resetData(result);
				}
			})
		}
		//발주의뢰 검색함수
		function vdrSearchModal(type,value){
			$.ajax({
				url:"/erp/sales/vederList",
				method:"GET",
				data:{
					type: type,
					value:value
				},
				success:function(result){
					vdrGrid.resetData(result);
				}
			})
		}
		  //검색
		$('#vdrSearchBtn').on('click', ev=> {
			//형태
			let type = $("#vdrSelect option:selected").val();
			//값
			let value = $("#vdrInput").val();
			vdrSearchModal(type,value)				
		});
		//인풋 enter
		$('#vdrInput').on('keydown',ev=>{
			if(ev.keyCode==13){
				//형태
				let type = $("#vdrSelect option:selected").val();
				//값
				let value = $("#vdrInput").val();
				
				vdrSearchModal(type,value)
			}
		});
		//모달 그리드 클릭시 발동
		requestGrid.on('click', ev => {
			//행클릭시 발주의뢰 코드 값 가져오기
			let get = requestGrid.getRow(ev.rowKey).purReqCode;
			//메인그리드 전달
			mainGrid.setValue(mainRowKey,'purReqCode',get);
			$.ajax({
				url:"/erp/sales/purRqDetailList",
				method:"GET",
				data: {
					param:get
				},
				success:function(result){
					detailGrid.resetData(result)
					
					//총합갑 전달	
					let detailData = detailGrid.getData();
					console.log(detailData)
					//메인 그리드에 전달할 값 정리 
					let mainTotPrice = 0;
					let mainVatPrice = 0;
					let mainSupPrice = 0;
					detailData.forEach(item => {
						mainTotPrice += item.totPrice;
						mainVatPrice += item.vatPrice;
						mainSupPrice += item.supPrice;
					})
					

					//메인그리드 전달
					mainGrid.setValue(mainGrid.getCheckedRowKeys()[0]!=null?mainGrid.getCheckedRowKeys()[0]:0,
							          'totSupPrice',mainSupPrice);
					mainGrid.setValue(mainGrid.getCheckedRowKeys()[0]!=null?mainGrid.getCheckedRowKeys()[0]:0,
									  'totVatPrice',mainVatPrice);
					mainGrid.setValue(mainGrid.getCheckedRowKeys()[0]!=null?mainGrid.getCheckedRowKeys()[0]:0,
							          'totAmtSum',mainTotPrice);
				}
			})
			//모달 지우기
			$('#requestModal').modal('hide');
		})
		
		
		//거래처코드 실행
		vdrGrid.on('click', ev => {
			//업체코드
			let vdrCode = vdrGrid.getRow(ev.rowKey).vdrCode;
			//업체이름
			let vdrName = vdrGrid.getRow(ev.rowKey).vdrName;
			//메인그리드로 전달
			mainGrid.setValue(mainRowKey,'vdrCode',vdrCode)
			mainGrid.setValue(mainRowKey,'vdrName',vdrName)
			
			$('#vdrModal').modal('hide');
		})
		
		//상세그리드 행추가
		$('#rowAddBtn').on('click', ev => {
			let mainRowIndex= mainGrid.getCheckedRowKeys()[0];
			console.log(mainRowIndex)
			if(pageStatus == 'search' && mainRowIndex ==undefined){
				Swal.fire('에러','메인그리드에 해당행을 클릭하세요','error')
				return;
			}
			if(pageStatus =='search'){
			  detailGrid.appendRow({purOrdCode : mainGrid.getRow(mainRowIndex).purOrdCode});
			}else if(pageStatus =='add'){
				detailGrid.appendRow({});		
			}
		})
		
		//상세그리드 행삭제
		$('#rowDelBtn').on('click', ev => {
			//클릭된 정보 가져오기
			const checkedRows = detailGrid.getCheckedRows();
			//행삭제
			checkedRows.forEach(item => {
		    console.log(item)
		    detailGrid.removeRow(item.rowKey)
		  })
		})
		//라디오버튼처럼 작동
		mainGrid.on('click', ev => {
		
		  const checkedRows = mainGrid.getCheckedRowKeys();
		  console.log(checkedRows)
		  if (checkedRows.length > 1 || checkedRows[0] !== ev.rowKey) {
		    mainGrid.uncheckAll();
		    mainGrid.check(ev.rowKey);  // 여기서 check 이벤트는 따로 안 뜸 (정상)
		  }
		
		  console.log('선택된 row:', ev.rowKey);
		});
		
		//디테일 클릭 인덱스
		let detailRowKey = null;		
		//디테일그리드 클릭시 발동
		detailGrid.on('click', ev => {
			detailRowKey= ev.rowKey;
		    //아이템리스트 가져오기
			if(ev.columnName == 'itemName' || ev.columnName == 'itemCode'){
				itemModal();
				 $(itemModal).on('shown.bs.modal',e => {
					 itemGrid.refreshLayout();
        	  })
			}
		})
		//품목목록 그리드
		function itemModal(){
			$('#itemModal').modal('show');
			$.ajax({
	    		url:"/erp/standard/itemAll",
	    		method:"GET", 
	    		success:function(result){
	    			itemGrid.resetData(result);
	    		}
	    	})
		}
		//아이템그리드 클릭시 디테일그리드 전달
		itemGrid.on('click',ev  => {
			//품목코드
			let itemCode = itemGrid.getRow(ev.rowKey).itemCode;
			//품목이름
			let itemName = itemGrid.getRow(ev.rowKey).name;
			//가격
			let price = itemGrid.getRow(ev.rowKey).price;
			//아이템값 중복확인
			let detailGridData = detailGrid.getData();
			
			let checkResult = detailGridData.some(item => {
				console.log(item.itemCode)
				return item.itemCode==itemCode;
			})
			
			if(checkResult){
				Swal.fire('실패','이미 같은 품목이 있습니다.','error')
				return;
			}
			console.log(checkResult)
			
			//메인그리드로 전달
			detailGrid.setValue(detailRowKey,'itemCode',itemCode);
			detailGrid.setValue(detailRowKey,'itemName',itemName);
			detailGrid.setValue(detailRowKey,'price',price);
			updateDetailPrice(detailRowKey);
			$('#itemModal').modal('hide');
		})
		
		//금액 변환
		function updateDetailPrice(rowKey) {
			const row = detailGrid.getRow(rowKey);
			//금액
			const price = Number(row.price || 0);
			//갯수
			const quantity = Number(row.quantity || 0);
			//총금액 기입
			const totPrice = price * quantity;
			//부가세
			const vatPrice = Math.floor(totPrice / 10);
			//공급가액
			const supPrice = totPrice - vatPrice;
	
			detailGrid.setValue(rowKey, 'totPrice', totPrice);
			detailGrid.setValue(rowKey, 'vatPrice', vatPrice);
			detailGrid.setValue(rowKey, 'supPrice', supPrice);
	}
    	//총금액값 바꾸기
		detailGrid.on('afterChange',ev => {
			//수량이 바뀔시
			if(ev.changes[0].columnName=='quantity' ||ev.changes[0].columnName=='itemCode' ){
				
				//금액렌더링
				updateDetailPrice(ev.changes[0].rowKey);
				
				// 다음 tick에서 총합 계산
				setTimeout(() => {
					const detailData = detailGrid.getData();

					let mainTotPrice = 0;
					let mainVatPrice = 0;
					let mainSupPrice = 0;

					detailData.forEach(item => {
						mainTotPrice += item.totPrice || 0;
						mainVatPrice += item.vatPrice || 0;
						mainSupPrice += item.supPrice || 0;
					});
					let mainKey = null;
					//등록일때는 체크없어도 가능
					if(pageStatus == 'add'){
						mainKey = mainGrid.getCheckedRowKeys()[0] ?? 0;
					//수정및삭제는 체크가 무조건적있어야함
					}else if(pageStatus=='search'){
						mainKey = mainGrid.getCheckedRowKeys()[0]
					}
					mainGrid.setValue(mainKey, 'totSupPrice', mainSupPrice);
					mainGrid.setValue(mainKey, 'totVatPrice', mainVatPrice);
					mainGrid.setValue(mainKey, 'totAmtSum', mainTotPrice);
				}, 0);
			}
		})
	     //등록함수
	     function purchaseAdd(){
			//등록시
	    	 
	    		let mainGridInfo = mainGrid.getData();
	    		let detailGridInfo = detailGrid.getData();
	    		
	    		
	    		//메인 그리드 해당 값이 기입했는지 체크
	    		let mainResult = mainGridInfo.every(item => {
	    				
	    			return item.vdrCode &&
	    			       item.purOrdDate && item.expDlvDate &&
	    			       item.empId;
	    		})
	    		 //디테일 값 있는지 체크
		    	 let detailResult = detailGridInfo.some(item => {
		    		 console.log(item.itemCode)
		    		 console.log(item.quantity)
		    		 console.log(item.supPrice)
		    		 console.log(item.totPrice)
		    			return !item.itemCode || item.quantity ==0 ||
		    			       item.supPrice==0 || item.totPrice==0;
		    		})
		    	console.log(detailResult)
	    		//값 체크
	    		if(!mainResult){
	    		   Swal.fire('실패','메인 그리드에 입력란들을 기입하세요','error');
	    		   return;
	    		}else if(detailResult){
	    			Swal.fire('실패','상세 그리드에 입력란들을 기입하세요','error');
	    		   return;
	    		}
	    		
	    		//등록데이터 정리
	    		let mainData = mainGrid.getData();
	    		let detailData = detailGrid.getData();
	    		console.log(mainData);
	    		console.log(detailData);
	    		let dataToSend = {
	    				pur : mainData[0], 
	    				dtl : detailData
	    		};
	    		//등록ajax
	    		$.ajax({
	    			url: '/erp/sales/purAdd',
	    			type: 'POST',
	    			contentType: 'application/json',
	    			data: JSON.stringify(dataToSend),
	    			success: function(res) {
	    				console.log('전송 성공', res);
	    							Swal.fire({
	    					title: "주문등록성공!",
	    					icon: "success",
	    					draggable: true
	    				});
	    				mainList();
	    			},
	    			  error: function(xhr, status, error) {
	                      console.log("실패:", xhr.status, error);
	                }
	    		})
	    		
	    	 
    	}
	     //버튼클릭시 발동
	     $('#saveBtn').on('click',ev => {
	    	 //추가버튼 클릭시
	    	 if(pageStatus == 'add'){
	    		 //등록함수발동
	    		 purchaseAdd();
	    	 }
	    	 //조회버튼클릭시
	    	 if(pageStatus=='search'){
	    		 purchaseModify();
	    	 }
	     })
	     //조회버튼
	     $('#searchBtn').on('click',ev => {
	    	 mainList();
	     })
	     //상세조회
	     mainGrid.on('check',ev => {
	    	 console.log('클릭한 ev.rowKey',ev.rowKey)
	    if(ev.rowKey==undefined){
	    	return;
	    }
	    	if(pageStatus=='search'){
	    		//체크된행 파악
	    		let mainRowIndex= mainGrid.getCheckedRowKeys()[0];
	    		let mainRowData = mainGrid.getRow(mainRowIndex).purOrdCode
	    		$.ajax({
	    			url:`/erp/sales/purDetailList/${mainRowData}`,
	    			method:'GET',
	    			success:result => {
	    				detailGrid.resetData(result);
	    			}
	    		})
	    	} 
	     })
	     
	     
	     //수정 함수
	     async function purchaseModify(){
	    	 let checkedRows = detailGrid.getModifiedRows();
	    	 let mainRowIndex= mainGrid.getCheckedRowKeys()[0];
	    	 if( mainGrid.getCheckedRowKeys().length<1){
	    		 Swal.fire('실패','메인그리드에 해당하는 값을 체크해주세요','error');
	    		 return;
	    	 }
	    	 let mainRowData = mainGrid.getRow(mainRowIndex);
	    	 //메인그리드 해당란 다있는지 체크
	    	 if(!mainRowData.vdrCode||!mainRowData.purOrdDate||
	    	    !mainRowData.expDlvDate){
	    		 Swal.fire('실패','해당하는값을 입력해주세요','error');
	    		return; 
	    	 }
	    	 //디테일 값 있는지 체크
	    	 let detailGridInfo=detailGrid.getData();
	    	 let detailResult = detailGridInfo.some(item => {
	    			return !item.itemCode || item.quantity ==0 ||
	    			       item.supPrice==0 || item.totPrice==0;
	    		})
	    	console.log(detailResult);
	    	  if(detailResult){
	    		  Swal.fire('실패','해당 하는 값을 입력해주세요.','error')
	    		  return;
	    	  } 
	    	  console.log(mainRowData)
	    	  if(mainRowData.status!='진행중'){
	    		  Swal.fire('실패','이미 입고처리된 항목에 대해선 입고가 불가합니다.','error')
	    		  return;
	    	  }
	    	 //메인창
	    	 console.log(mainRowData)
	    	  await $.ajax({
	    		 url:'/erp/sales/purMainModify',
	    		 method:'PUT',
	    		 contentType: "application/json",
	    		 data:JSON.stringify(mainRowData),
	    		 success : result => {
	                 if(result <1 ){
	                	  Swal.fire('저장','저장이 정상적으로 실패하였습니다.','error')
		                  return;
	                 }
	             },
	             error: function(xhr, status, error) {
	                    console.log("실패:", xhr.status, error);
	                }
	    	 }) 
	    	 //상세 수정
	    	 await $.ajax({
	    		 url:'/erp/sales/purDetailModify',
	    		 method:'PUT',
	    		 contentType: "application/json",
	    		 data:JSON.stringify({
	    			 createdRows : checkedRows.createdRows,
	    			 updatedRows : checkedRows.updatedRows,
	    			 deleteRows : checkedRows.deletedRows,
	    		 }),
	    		 success : result => {
	                     Swal.fire('저장','저장이 정상적으로 완료되었습니다.','success')
	                     mainList();
	             },
	             error: function(xhr, status, error) {
	            	 	Swal.fire('실패','수정이 실패하였습니다..','error')
	                    console.log("실패:", xhr.status, error);
	                }
	    	 })
	    	 
	     }
	     
	     //삭제
	     $('#delBtn').on('click',ev => {
	    	 let checkedRows = detailGrid.getModifiedRows();
	    	 let mainRowIndex= mainGrid.getCheckedRowKeys()[0];
	    	 let mainRowData = mainGrid.getRow(mainRowIndex);
	    	 
	    	 if(mainRowData.status!='진행중'){
	    		  Swal.fire('실패','이미 입고처리된 항목에 대해선 입고가 불가합니다.','error')
	    		  return;
	    	  }
	    	 if( mainGrid.getCheckedRowKeys().length<1){
	    		 Swal.fire('실패','메인그리드에 해당하는 값을 체크해주세요','error');
	    		 return;
	    	 }
	    	 
	    	 if(pageStatus=='add'){
	    		 Swal.fire('실패','등록 중 삭제가 불가합니다.','error');
	    		 return;
	    	 }
	    	 	//삭제시작
	    		 $.ajax({
		    		 url:`/erp/sales/purDelete/${mainRowData.purOrdCode}`,
		    		 method:'DELETE',
		    		 success : result => {
		                 if(result > 0){
		                	  Swal.fire('삭제','삭제가 정상적으로 등록되었습니다.','succes')
		                	  mainList();
			                  return;
		                 }
		             },
		             error: function(xhr, status, error) {
		                    console.log("실패:", xhr.status, error);
		                }
		    	 }) 
	     })
	  
    </script>
</body>
</html>