<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.sales.order.mapper.OrderMapper">
	<!-- 주문리스트 조회 -->
	<select id="findOrderList" resultType="com.dadam.sales.order.service.OrdersVO">
		select o.ord_code,
		o.created_date,
		v.vdr_name,
		v.vdr_code,
		o.req_dlv_date,
		o.tot_price,
        o.tot_sup_price,
        o.tot_vat_price,
        o.tot_disc,
		v.credit_price,
		v.credit_bal_price,
		o.pay_method,
		o.status,
		v.discount,
		o.com_id
		from orders o JOIN vender v ON
		o.vdr_code=v.vdr_code
		WHERE o.com_id = #{comId}
		<choose>
				<when test="'ordCode'.equals(type)">
					 AND o.ord_code LIKE '%'||#{value}||'%'
				</when>	
				<when test="'vdrCode'.equals(type)">
					 AND o.vdr_code LIKE '%'||#{value}||'%'	
				</when>
				<when test="'vdrName'.equals(type)">
					 AND v.vdr_name LIKE '%'||#{value}||'%'	
				</when>
		</choose>
		<if test="reqDlvStartDate != null and reqDlvStartDate != '' ">
			AND trunc(o.req_dlv_date) >=TO_DATE(#{reqDlvStartDate},'yyyy-MM-dd')
		</if>
		<if test="reqDlvEndDate != null and reqDlvEndDate !='' ">
		  <![CDATA[
			AND trunc(o.req_dlv_date) <= TO_DATE(#{reqDlvEndDate},'yyyy-MM-dd')
		    ]]>
		</if>	
		<if test="status != null and status !=  ''">
		AND o.status=#{status}		
		
		</if>
		order by o.ord_code desc			
	</select>

	<!-- 주문건당 상세내역 보기 -->
	<select id="findOrdListByOrdNo" parameterType="String" resultType="com.dadam.sales.order.service.OrdDtlVO">
		SELECT od.ord_dtl_code,
		od.item_code,
		i.name,
		i.price,
		od.quantity,
		od.sup_price,
		od.vat_price,
		od.tot_price,
		od.disc_price
		FROM
		ordersDetail od left JOIN item i on od.item_code=i.item_code
		JOIN
		orders o on o.ord_code=od.ord_code
		JOIN vender v on
		o.vdr_code=v.vdr_code
		WHERE od.ord_code=#{ordCode}
	</select>
	<insert id="orderInsert" parameterType="com.dadam.sales.order.service.OrdersVO">
		<selectKey resultType="string" keyProperty="ordCode" order="BEFORE">
				SELECT 'ord-' || (NVL(MAX(TO_NUMBER(SUBSTR(ord_code,5))),100)+1)
				FROM orders
		</selectKey>
		INSERT INTO orders(ORD_CODE,
		VDR_CODE,
		STATUS,
		CREATED_DATE,
		PAY_METHOD,
		TOT_QUANTITY,
		REQ_DLV_DATE,
		EMP_ID,
		COM_ID,
		TOT_SUP_PRICE,
		TOT_VAT_PRICE,
		TOT_DISC,
		DISCOUNT,
		TOT_PRICE,
		QUO_CODE)
		values(#{ordCode},
		#{vdrCode},
		#{status},
		#{createdDate},
		#{payMethod},
		#{totQuantity},
		#{reqDlvDate},
		#{empId},
		#{comId},
		#{totSupPrice},
		#{totVatPrice},
		#{totDisc},
		#{discount},
		#{totPrice},
		'quoCode')
	</insert>
	<!-- 주문등록할때 odtl insert하는 sql -->
	<insert id="odtlInsert" parameterType="com.dadam.sales.order.service.OrdDtlVO">
		<selectKey resultType="string" keyProperty="ordDtlCode" order="BEFORE">
			SELECT 'odtl-' || (NVL(MAX(TO_NUMBER(SUBSTR(ord_dtl_code,6))),100)+1)
			FROM ordersdetail
		</selectKey>
		INSERT INTO ordersdetail (
		ORD_DTL_CODE,
		ITEM_CODE,
		QUANTITY,
		SUP_PRICE,
		VAT_PRICE,
		DISC_PRICE,
		TOT_PRICE,
		COM_ID,
		ORD_CODE)
		VALUES (
		#{ordDtlCode},
		#{itemCode},
		#{quantity},
		#{supPrice},
		#{vatPrice},
		#{discPrice},
		#{totPrice},
		#{comId},
		#{ordCode}
		)
	</insert>
	
	<!-- 상세저장할때 주문 insert 하는거  -->
	<insert id="odtlInsertDetailSave" parameterType="com.dadam.sales.order.service.OrdDtlVO">
		INSERT INTO ordersdetail (
		ORD_DTL_CODE,
		ITEM_CODE,
		QUANTITY,
		SUP_PRICE,
		VAT_PRICE,
		DISC_PRICE,
		TOT_PRICE,
		COM_ID,
		ORD_CODE)
		VALUES (
		getNextOrdDtlCode(),
		#{itemCode},
		#{quantity},
		#{supPrice},
		#{vatPrice},
		#{discPrice},
		#{totPrice},
		#{comId},
		#{ordCode}
		)	
	</insert>
	<update id="updVdrcreditBalPrice">
		update vender
		set credit_bal_price=#{creditBalPrice}-#{totPrice}
		where vdr_code=#{vdrCode}
		AND com_id=#{comId}
	</update>
	<update id="callUpdateCreditBal" statementType="CALLABLE">
		{ CALL
		update_credit_bal(
		#{vdrId, mode=IN, jdbcType=VARCHAR},
		#{totPrice,
		mode=IN, jdbcType=NUMERIC}
		) }
	</update>
	<delete id="deleteOrders">
		delete from orders
		where ord_code=#{ordCode}
		and   com_id=#{comId}
	</delete>
	<delete id="deleteOrdersDtl">
		delete from ordersdetail
		where ord_code=#{ordCode}
		AND com_id=#{comId}
	</delete>
	<update id="updOrder" parameterType="com.dadam.sales.order.service.OrdersVO">
		UPDATE ORDERS
		SET vdr_code = #{vdrCode},
			req_dlv_date =#{reqDlvDate},
			pay_method = #{payMethod},
			update_id = #{updateId},
			update_date = sysdate, 
			tot_quantity=#{totQuantity},
			tot_sup_price=#{totSupPrice}, 
			tot_vat_price=#{totVatPrice},
			tot_disc=#{totDisc},
			tot_price=#{totPrice} 
		WHERE ord_code = #{ordCode}
		AND com_id=#{comId}
	</update>
	<update id="updOrdDtl" parameterType="com.dadam.sales.order.service.OrdDtlVO">
		UPDATE ORDERSDETAIL
		SET item_code = #{itemCode},
		quantity=#{quantity},
		sup_price=#{supPrice},
		vat_price=#{vatPrice},
		tot_price=#{totPrice},
		disc_price=#{discPrice},
		com_id=#{comId} 
		WHERE ord_dtl_code = #{ordDtlCode}
		AND com_id=#{comId}
	</update>
	<delete id="deleteOrdDtl" >
		DELETE FROM ORDERSDETAIL
		WHERE ord_dtl_code = #{ordDtlCode}
		AND com_id=#{comId}
	</delete>
	<update id="updateCreditBal">
		UPDATE vender
		SET credit_bal_price = credit_bal_price
		- #{totPrice}
		WHERE vdr_code = #{vdrCode}
		AND com_id=#{comId}
	</update>
	<select id="callUpdateOrderTotals" parameterType="String" statementType="CALLABLE">
	    <![CDATA[
	      { call update_order_totals(#{ordCode, mode=IN, jdbcType=VARCHAR}) }
	    ]]>
	</select>
	<select id="callUpdateCreditBalanceIfOpm" parameterType="String" statementType="CALLABLE">
	    <![CDATA[
	      { call update_credit_balance_if_opm(#{ordCode, mode=IN, jdbcType=VARCHAR}) }
	    ]]>
  </select>
	<update id="callPrcCreditBalanceForModify">
	<![CDATA[
		{ call 	 prc_credit_balance_for_modify(#{ordCode,jdbcType=VARCHAR},
											   #{comId,jdbcType=VARCHAR},
											   #{total,jdbcType=NUMERIC})}
	]]>
	</update>	
	<select id="findMaxOrdNo" resultType="String">
	select Max(ord_code)
    from orders
    where com_id=#{comId}
	</select>


























</mapper>