<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.sales.purchase.mapper.PurchaseMapper">

<select id="findPurchaseList" resultType="PurchaseOrderVO">
	 SELECT PUR_ORD_CODE,
       VDR_CODE,
       PUR_ORD_DATE,
       EXP_DLV_DATE,
       PUR_REQ_CODE,
       PUR_ORD_UDT_DATE,
       EMP_ID,
       UPDATE_ID,
       VAT_YN,
       COM_ID,
       TOT_SUP_PRICE,
       TOT_VAT_PRICE,
       TOT_AMT_SUM,
       getEmpName(EMP_ID) empName,
       getVdrName(VDR_CODE) vdrName,
       subCode(status) status
   FROM purchaseOrder
   WHERE com_id = #{comId}
   ORDER BY PUR_ORD_CODE DESC
   
</select>
 
 <select id="findPurListByOrdNo" resultType="PurchaseOrderVO">
   SELECT PUR_ORD_DTL_CODE,
       i.ITEM_CODE,
       QUANTITY,
       SUP_PRICE,
       VAT_PRICE,
       TOT_PRICE,
       STATUS,
       RECCV_DATE,
       PUR_ORD_CODE,
       getItemName(i.item_code) itemName,
       price
   FROM purchaseOrderDetail d JOIN item i ON(d.item_code = i.item_code)
   WHERE pur_ord_code = #{param}
   AND d.com_id = #{comId}
 </select>
 
 <!-- 발주의뢰리스트 -->
 <select id="requestList" resultType="PurchaseOrderVO">
    SELECT PUR_REQ_CODE,
       	IN_CODE,
       	CREATED_DATE,
       	PUR_IN_DATE,
        getEmpName(EMP_ID) empId,
       	subCode(status) status,
       	NOTE,
       	COM_ID
	FROM purchaseRequest
	WHERE status='prs01'
	AND com_id = #{comId}
 </select>
 <!-- 발주서 의뢰 상세리스트 -->
 <select id="requestDeatilList" resultType="PurchaseOrderVO">
 	SELECT PUR_REQ_DTL_CODE,
			PUR_REQ_CODE,
			p.ITEM_CODE,
			getItemName(p.ITEM_CODE) itemName,
			QUANTITY,
			STATUS,
			CREATED_DATE,
			NOTE,
			i.price price,
            i.price*QUANTITY totPrice,
            (i.price/10)*QUANTITY vatPrice,
            (i.price-i.price/10)*QUANTITY supPrice
	FROM PURCHASEREQUESTDETAIL p JOIN item i ON(p.item_code = i.item_code)
	WHERE PUR_REQ_CODE = #{purCode}
	AND i.com_id = #{comId}
 </select>
 
 <!-- 발주헤더등록 -->
 <insert id="purchaseOrderAdd">
 <selectKey resultType="string" keyProperty="purOrdCode"
	order="BEFORE">
		SELECT 'poc-' || (NVL(MAX(TO_NUMBER(SUBSTR(pur_ord_code,5))),100)+1)
		FROM purchaseOrder
	</selectKey>
 		INSERT INTO purchaseOrder (PUR_ORD_CODE,
		                            VDR_CODE,
		                            PUR_ORD_DATE,
		                            EXP_DLV_DATE,
		                            PUR_REQ_CODE,
		                            EMP_ID,
		                            STATUS,
		                            VAT_YN,
		                            COM_ID, 
		                            TOT_SUP_PRICE,
		                            TOT_VAT_PRICE,
		                            TOT_AMT_SUM)    
		VALUES(#{purOrdCode},#{vdrCode},sysdate,#{expDlvDate},#{purReqCode},#{empId},'pst01','vat01',#{comId},#{totSupPrice},#{totVatPrice},#{totAmtSum})
 </insert>
 
 
 
  <!-- 발주바디등록 -->
  <insert id="purchaseOrderDetailAdd" parameterType="com.dadam.sales.purchase.service.PurchaseOrderDetailVO">
  <selectKey resultType="string" keyProperty="purOrdDtlCode"
	order="BEFORE">
		SELECT 'porc-' || (NVL(MAX(TO_NUMBER(SUBSTR(PUR_ORD_DTL_CODE,6))),100)+1)
		FROM purchaseOrderDetail
	</selectKey>
 INSERT INTO purchaseOrderDetail (PUR_ORD_DTL_CODE,
                                    ITEM_CODE,
                                    QUANTITY,
                                    SUP_PRICE,
                                    VAT_PRICE,
                                    TOT_PRICE,
                                    STATUS,
                                    COM_ID,
                                    PUR_ORD_CODE)
VALUES (#{purOrdDtlCode},#{itemCode},#{quantity},#{supPrice},#{vatPrice},#{totPrice},'pds-01',#{comId},#{purOrdCode})
</insert>
<!-- 상태값 변경 -->
<update id ="reqStatusUpdate">
  	UPDATE purchaseRequest
	SET status = #{status}
	WHERE pur_req_code =#{purReqCode}
	AND com_id = #{comId}
</update>
<!-- 발주 메인 업데이트 -->
<update id ="purOrderUpdate">
UPDATE purchaseorder
SET VDR_CODE=#{vdrCode},
    PUR_REQ_CODE=#{purReqCode},
    exp_dlv_date=#{expDlvDate},
    PUR_ORD_UDT_DATE=sysdate,
    UPDATE_ID=#{empId},
    TOT_SUP_PRICE=#{totSupPrice},
    TOT_VAT_PRICE=#{totVatPrice},
    TOT_AMT_SUM=#{totAmtSum}
WHERE pur_ord_code = #{purOrdCode}
AND com_id = #{comId}
</update>
<!-- 발주 상세 업데이트  -->
<update id ="purOrderUpdateRows">
 UPDATE purchaseorderdetail
 SET      ITEM_CODE =#{itemCode},
    	  QUANTITY =#{quantity},
    	  SUP_PRICE =#{supPrice},
    	  VAT_PRICE =#{vatPrice},
    	  TOT_PRICE=#{totPrice}
  WHERE pur_ord_dtl_code = #{purOrdDtlCode}
  AND com_id = #{comId}
</update>
<!-- 발주상세 업데이트 -->
<delete id= "purOrderDeleteRows">
 DELETE FROM purchaseorderdetail
 WHERE pur_ord_dtl_code = #{purOrdDtlCode}
 AND com_id = #{comId}
</delete>

<!-- 발주메인 삭제 -->
<delete id= "purMainDelete">
	DELETE FROM purchaseorder
	WHERE pur_ord_code = #{purOrdCode}
	AND com_id = #{comId}
</delete>
<!-- 발주상세 삭제 -->
<delete id="purDTtlDelete">
	DELETE FROM purchaseorderdetail
	WHERE pur_ord_code = #{purOrdCode}
	AND com_id = #{comId}
</delete>

</mapper>