<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadam.sales.purchase.mapper.PurchaseMapper">

<select id="findPurchaseList" resultType="PurchaseOrderVO">
	 SELECT PUR_ORD_CODE,
       VDR_CODE,
       PUR_ORD_DATE,
       EXP_DLV_DATE,
       PUR_REQ_CODE,
       PUR_ORD_UDT_DATE,
       EMP_ID,
       UPDATE_ID,
       VAT_YN,
       COM_ID,
       TOT_SUP_PRICE,
       TOT_VAT_PRICE,
       TOT_AMT_SUM,
       getEmpName(EMP_ID) empName,
       getVdrName(VDR_CODE) vdrName,
       subCode(status) status
   FROM purchaseOrder
</select>
 
 <select id="findPurListByOrdNo" resultType="PurchaseOrderVO">
   SELECT PUR_ORD_DTL_CODE,
       ITEM_CODE,
       QUANTITY,
       SUP_PRICE,
       VAT_PRICE,
       TOT_PRICE,
       STATUS,
       RECCV_DATE,
       COM_ID,
       PUR_ORD_CODE
   FROM purchaseOrderDetail
   WHERE pur_ord_code = #{pCode}
 </select>
 
 <!-- 발주의뢰리스트 -->
 <select id="requestList" resultType="PurchaseOrderVO">
    SELECT PUR_REQ_CODE,
       	IN_CODE,
       	CREATED_DATE,
       	PUR_IN_DATE,
        getEmpName(EMP_ID) empId,
       	subCode(status) status,
       	NOTE,
       	COM_ID
	FROM purchaseRequest
	WHERE status='prs01'
 </select>
 <!-- 발주서 의뢰 상세리스트 -->
 <select id="requestDeatilList" resultType="PurchaseOrderVO">
 	SELECT PUR_REQ_DTL_CODE,
			PUR_REQ_CODE,
			p.ITEM_CODE,
			getItemName(p.ITEM_CODE) itemName,
			QUANTITY,
			STATUS,
			CREATED_DATE,
			NOTE,
			i.price price,
            i.price*QUANTITY totPrice,
            (i.price/10)*QUANTITY vatPrice,
            (i.price-i.price/10)*QUANTITY supPrice
	FROM PURCHASEREQUESTDETAIL p JOIN item i ON(p.item_code = i.item_code)
	WHERE PUR_REQ_CODE = #{purCode}
 </select>
</mapper>