<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dadam.security.mapper.UserMapper">
    <select id="loginForMain" resultType="ErpUserVO">
     SELECT com_id,
            password,
            name,
            authority
     FROM erpUser
     WHERE com_id=#{userId}   
     </select>
     <select id="loginForErp" resultType="EmployeesVO">
     SELECT      emp_id,
            e.com_id,
            pwd,
            emp_name,
            subs_expiration,
            e.dept_code
     FROM employees e JOIN erpSubs s1 ON (e.com_id = s1.com_id)
     WHERE emp_id=#{username}
     AND e.com_id=#{comId}
     AND s1.subs_expiration = (SELECT MAX(subs_expiration)
        						FROM erpSubs
        					   WHERE com_id = e.com_id)
     </select>
     
  </mapper>