<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dadam.security.mapper.UserMapper">
    <select id="loginForMain" resultType="ErpUserVO">
       SELECT DISTINCT u.com_id,
            password,
            name,
            authority,
            (SELECT max(subs_expiration)
             FROM erpSubs
             WHERE com_id = #{comId}) subs_expiration,
             option_code
	     FROM erpUser u LEFT JOIN erpSUbs s1 ON (u.com_id= s1.com_id)
	     WHERE u.com_id = #{comId}   
     </select>
     <select id="loginForErp" resultType="EmployeesVO">
     SELECT e.emp_id,
            e.com_id,
            pwd,
            emp_name,
            subs_expiration,
            option_code,
            master,
            e.dept_code,
            CASE   WHEN master IS NOT NULL
    		THEN 'master' ELSE auth_code
    		END auth_code 
     FROM employees e JOIN erpSubs s1 ON (e.com_id = s1.com_id)
                    LEFT  JOIN departments a ON (e.dept_code = a.dept_code)
     
     WHERE e.emp_id=#{username}
     AND e.com_id=#{comId}
     AND s1.subs_expiration = (SELECT MAX(subs_expiration)
        						FROM erpSubs
        					   WHERE com_id = e.com_id)
     </select>
     
  </mapper>