<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/default_layout}" 
  layout:fragment="Content">

<body>

<h1>계정과목</h1>
<div>
  <button id="excel">엑셀다운</button>
  <button id="excelTemplate">양식다운</button>
  <input type="file" id="excelUpload" accept=".xlsx, .xls" />
  <button id="addRow">행추가</button>
</div>

<div class="col-10"> 
   <div id="accGrid" class="mx-4" ></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script>
accountList()

const accGrid = new tui.Grid({
   
   el: document.getElementById('accGrid'),

   //스크롤여부
   scrollX: false,
   scrollY: false,
   
   pageOption:{
      perPage: 10,
      useClient:true,
   },
   //필드값 구성
   columns:[
      //header: 필드이름 name: 객체 key값 align 정렬방법
      //editor: true -> cell안에 등록 가능
      //width -> 크기조정   
      //db acct_code, name, acct_type, acct_class, acct_yn,  note, created_date, com_id
      {header: '계정코드',name:'acctCode',align:'center', width:100 },
      {header: '대분류',name:'acctType',align:'center', width:100 },
      {header: '중분류',name:'acctClass',align:'center', width:100 },
      {header: '소분류',name:'acctSubclass',align:'center', width:100 },
      {header: '계정명',name:'name',align:'center',editor:'text', width:200 },
      {header: '사용유무',name: 'acctYn',align:'center', width:200, 
    	    renderer: {
    	        type: ToggleRenderer
    	      }
      },
      {header: '비고',name:'note',align:'center',editor:'text', width:300 }
   ]
})


function ToggleRenderer(props) {
	  const el = document.createElement('input');
	  el.type = 'checkbox';
	  el.checked = props.value === 'Y';

	  el.addEventListener('change', () => {
	    const newValue = el.checked ? 'Y' : 'N';
	    props.grid.setValue(props.rowKey, props.columnInfo.name, newValue);
	  });

	  this.el = el;
	}
	ToggleRenderer.prototype.getElement = function () {
	  return this.el;
};

	
	
/*
 * 
 accGrid.on('click', ev => {
     if (ev.columnName === 'acctYn' && ev.target.classList.contains('use-toggle')) {
       const rowKey = ev.rowKey;
       const prev = accGrid.getValue(rowKey, 'acctYn');
       const next = prev === 'Y' ? 'N' : 'Y';
       accGrid.setValue(rowKey, 'acctYn', next);
  }
});

 */    




function accountList() {
   $.ajax({
      url: "/erp/accounting/accFindAll",
      method:"GET",
      success:function(result){
         console.log(result)
         allData = result; 
         accGrid.resetData(allData)
      }
   })
}

//행추가
$('#addRow').on('click',function(){
  //행추가할 데이터 생성
   let addRow = {acctType : '',
         acctClass : '',
         name: '',
         note : ''
               }      
  //기존데이터 한칸식 뒤로 밀기
  for(let i = accGrid.getRowCount()-1; i>=0; i--){
    for(let j=1; j<=9; j++){
      
    }
  }
  
  //데이터 sampleGrid에 추가
   accGrid.appendRow(addRow);
  
  //sampleGrid 재반영  
  accGrid.refreshLayout();
})

//엑셀 다운로드.
const topOptions = {
           includeHiddenColumns: true,
           onlySelected: false,
           fileName: '계정과목',
         };
$('#excel').on('click',function(){
   accGrid.export('xlsx',topOptions);
})

//양식 다운/////
$('#excelTemplate').on('click', function () {
  const header = [
    ["대분류", "중분류","소분류", "계정명", "사용유무", "비고"]
  ];

  const ws = XLSX.utils.aoa_to_sheet(header); // 엑셀 시트 생성
  const wb = XLSX.utils.book_new();// 엑셀 워크북 생성
  XLSX.utils.book_append_sheet(wb, ws, "업로드양식"); // 시트 추가
  XLSX.writeFile(wb, "계정과목_업로드양식.xlsx");// 파일 저장
});


//엑셀폼의 한글컬럼과 데이터베이스 컬럼명을 멥핑
function mapKeysToInternal(data){
	const columnMap = {
			  '대분류': 'acctType',
			  '중분류': 'acctClass',
			  '소분류': 'acctSubclass',
			  '계정명': 'name',
			  '사용유무': 'acctYn',
			  '비고': 'note'
	};
	
	return data.map(row => {
		const newRow = {};
		for(let key in row){
			const mappedKey = columnMap[key];
			if (mappedKey){
				newRow[mappedKey] = row[key];
			}
		}
		return newRow;
	})
}


//엑셀 업로드  https://docs.sheetjs.com
document.getElementById('excelUpload').addEventListener('change',function(e){
   const file = e.target.files[0];
   const reader = new FileReader();
   
   reader.onload = function(event){
      const data = event.target.result;
      const workbook = XLSX.read(data, {type: 'binary'});
      const sheet = workbook.Sheets[workbook.SheetNames[0]];
      const json = XLSX.utils.sheet_to_json(sheet); //첫 행이 칼럼인 행 불러오기
      
      //한글과 영어 매핑
      const mapped = mapKeysToInternal(json)
      
      // 토스트ui 데이터 표시
   accGrid.resetData(mapped) 
   };
   
   reader.readAsBinaryString(file);
})

</script>


</body>
</html>